## **Creating the database from MySQL file**

Import libraries.

In [2]:
import mysql.connector
from dotenv import load_dotenv
import os

Load Credentials from .env file. Create one according to the .env.example if not already done.

In [3]:
load_dotenv()

HOST = os.getenv("MYSQL_HOST", "localhost")
USER = os.getenv("MYSQL_USER", "root")
PASSWORD = os.getenv("MYSQL_PASSWORD")

Connect to mysql server. Must have a server running and a valid connection.

In [5]:
conn = mysql.connector.connect(
    host=HOST,
    user=USER,              
    password=PASSWORD
)
print("Connected!")

Connected!

Read the sql file.

In [ ]:
sql_file = "../schema/HuskieJob_setup.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

SQL file loaded

Execute sql file in multi-batch statements using ; as the delimiter

In [ ]:
statements = []
current_statement = []

for line in sql_script.split('\n'):
    stripped = line.strip()
    current_statement.append(line)
    if stripped.endswith(';'):
        statement = '\n'.join(current_statement).strip()
        if statement:
            statements.append(statement)
        current_statement = []

In [ ]:

# Cell 4: Execute SQL statements one by one
statements = []
current_statement = []

for line in sql_script.split('\n'):
    # Skip comment lines
    stripped = line.strip()
    if stripped.startswith('--') or stripped.startswith('#') or not stripped:
        continue
    
    current_statement.append(line)
    
    # Check if line ends with semicolon (end of statement)
    if stripped.endswith(';'):
        statement = '\n'.join(current_statement).strip()
        if statement:
            statements.append(statement)
        current_statement = []

print(f"Found {len(statements)} SQL statements to execute")

# Cell 5: Execute each statement
for i, statement in enumerate(statements, 1):
    try:
        cur.execute(statement)
        # Get first 60 chars of statement for display
        preview = statement.replace('\n', ' ')[:60]
        print(f"✓ Statement {i}/{len(statements)}: {preview}...")
    except Error as e:
        print(f"✗ Error on statement {i}: {e}")
        print(f"Statement: {statement[:100]}...")

conn.commit()
print("\nAll statements executed and committed!")

# Cell 6: Verify database and tables were created
cur.execute("USE HuskiesJob;")
cur.execute("SHOW TABLES;")
tables = cur.fetchall()

print(f"\nTables in HuskiesJob database:")
for table in tables:
    print(f"  - {table[0]}")

# Cell 7: Close connection
cur.close()
conn.close()
print("\nMySQL connection closed.")
print("Database setup complete!")

Connected to MySQL Server!
SQL file loaded: 2316 characters
Found 17 SQL statements to execute
✓ Statement 1/17: DROP DATABASE IF EXISTS HuskiesJob;...
✓ Statement 2/17: CREATE DATABASE HuskiesJob;...
✓ Statement 3/17: USE HuskiesJob;...
✓ Statement 4/17: DROP TABLE IF EXISTS Users;...
✓ Statement 5/17: CREATE TABLE Users (   user_id INT PRIMARY KEY AUTO_INCREMEN...
✓ Statement 6/17: DROP TABLE IF EXISTS Company;...
✓ Statement 7/17: CREATE TABLE Company (   company_id INT PRIMARY KEY AUTO_INC...
✓ Statement 8/17: DROP TABLE IF EXISTS Positions;...
✓ Statement 9/17: CREATE TABLE Positions (   position_id INT PRIMARY KEY AUTO_...
✓ Statement 10/17: DROP TABLE IF EXISTS Application;...
✓ Statement 11/17: CREATE TABLE Application (   application_id INT PRIMARY KEY ...
✓ Statement 12/17: DROP TABLE IF EXISTS Skills;...
✓ Statement 13/17: CREATE TABLE Skills (   skill_id INT PRIMARY KEY AUTO_INCREM...
✓ Statement 14/17: DROP TABLE IF EXISTS Position_Skill;...
✓ Statement 15/17: CREATE TABLE Position_Skill (   position_id INT NOT NULL,   ...
✓ Statement 16/17: DROP TABLE IF EXISTS User_Skill;...
✓ Statement 17/17: CREATE TABLE User_Skill (   user_id INT NOT NULL,   skill_id...

All statements executed and committed!

Tables in HuskiesJob database:
  - application
  - company
  - position_skill
  - positions
  - skills
  - user_skill
  - users

MySQL connection closed.
Database setup complete!

Reading and executing the sql setup file.