# Example Use Queries

Import libraries.

In [23]:
import mysql.connector
from dotenv import load_dotenv
import os
import pandas as pd

Load enviornment variables.

In [24]:
load_dotenv()

HOST = os.getenv("MYSQL_HOST", "localhost")
USER = os.getenv("MYSQL_USER", "root")
PASSWORD = os.getenv("MYSQL_PASSWORD")

Connect to mysql server

In [25]:
db = mysql.connector.connect(
    host=HOST,
    user=USER,              
    password=PASSWORD
)
cur = db.cursor()
print("Connected!")
cur.execute("USE HuskiesJob")
cur.execute("SELECT * FROM Users")
cur.fetchall()

Connected!

[(1,
  'Chris',
  'Lewis',
  'holly37@example.org',
  'Data Science',
  2025,
  Decimal('2.72'),
  'VA',
  1,
  'Customer Service',
  'Software Development',
  datetime.datetime(2024, 1, 1, 10, 46, 31)),
 (2,
  'Craig',
  'Hicks',
  'millsshirley@example.com',
  'Accounting',
  2024,
  Decimal('2.65'),
  'MN',
  0,
  'Software Development',
  'Engineering',
  datetime.datetime(2025, 3, 13, 11, 33, 18)),
 (3,
  'Aaron',
  'Campos',
  'aliciawashington@example.org',
  'Accounting',
  2027,
  Decimal('3.06'),
  'MP',
  1,
  'Engineering',
  'Marketing',
  datetime.datetime(2024, 7, 13, 1, 41, 12)),
 (4,
  'Stephanie',
  'Harris',
  'cookaustin@example.net',
  'Psychology',
  2024,
  Decimal('3.23'),
  'DE',
  1,
  'Finance',
  'Sales',
  datetime.datetime(2025, 6, 19, 17, 0, 40)),
 (5,
  'Erik',
  'Smith',
  'dorseyangela@example.org',
  'Biology',
  2024,
  Decimal('3.00'),
  'GA',
  1,
  'Engineering',
  'Data Analysis',
  datetime.datetime(2024, 11, 30, 0, 23, 39)),
 (6,
  'Kyle',
  'Mcfarland',
  'amandahess@example.com',
  'Accounting',
  2025,
  Decimal('3.16'),
  'OK',
  0,
  'Software Development',
  'Software Development',
  datetime.datetime(2025, 2, 21, 20, 59, 17)),
 (7,
  'Barbara',
  'Carrillo',
  'jermaine51@example.org',
  'Psychology',
  2026,
  Decimal('2.84'),
  'TN',
  0,
  'Finance',
  'Research',
  datetime.datetime(2024, 10, 8, 16, 41, 8)),
 (8,
  'Maureen',
  'Roberts',
  'mcguirealbert@example.org',
  'Biology',
  2025,
  Decimal('3.30'),
  'NV',
  0,
  'Product Management',
  'Product Management',
  datetime.datetime(2024, 4, 7, 0, 55, 1)),
 (9,
  'Jacqueline',
  'Davis',
  'andersonjordan@example.net',
  'Economics',
  2024,
  Decimal('3.66'),
  'ME',
  0,
  'Sales',
  'Finance',
  datetime.datetime(2024, 3, 24, 13, 26, 36)),
 (10,
  'Patrick',
  'Lee',
  'burnswilliam@example.net',
  'Mechanical Engineering',
  2024,
  Decimal('2.87'),
  'UT',
  0,
  'Finance',
  'Human Resources',
  datetime.datetime(2024, 8, 12, 17, 44, 9)),
 (11,
  'Stephanie',
  'Vasquez',
  'christinewarren@example.net',
  'Accounting',
  2024,
  Decimal('3.69'),
  'IN',
  1,
  'Marketing',
  'Customer Service',
  datetime.datetime(2024, 5, 25, 15, 5, 21)),
 (12,
  'Patrick',
  'Carpenter',
  'james82@example.net',
  'Business Administration',
  2024,
  Decimal('3.80'),
  'TX',
  1,
  'Supply Chain',
  'Finance',
  datetime.datetime(2025, 8, 31, 20, 17, 33)),
 (13,
  'Michael',
  'Wood',
  'tammyporter@example.org',
  'Computer Science',
  2028,
  Decimal('2.95'),
  'AL',
  0,
  'Software Development',
  'Sales',
  datetime.datetime(2025, 3, 7, 2, 16, 22)),
 (14,
  'Melissa',
  'Jackson',
  'kimberly63@example.com',
  'Economics',
  2024,
  Decimal('3.23'),
  'MO',
  0,
  'Operations',
  'Customer Service',
  datetime.datetime(2024, 2, 5, 4, 15, 49)),
 (15,
  'Tiffany',
  'Hamilton',
  'kevin83@example.org',
  'Biology',
  2025,
  Decimal('3.43'),
  'WI',
  1,
  'Sales',
  'Human Resources',
  datetime.datetime(2025, 5, 22, 19, 50, 17)),
 (16,
  'Breanna',
  'Webb',
  'nicholas09@example.org',
  'Electrical Engineering',
  2028,
  Decimal('3.58'),
  'FM',
  1,
  'Engineering',
  'Marketing',
  datetime.datetime(2023, 12, 5, 9, 51, 25)),
 (17,
  'Brandon',
  'Harper',
  'emilycannon@example.com',
  'Economics',
  2026,
  Decimal('3.47'),
  'IN',
  1,
  'Product Management',
  'Sales',
  datetime.datetime(2024, 2, 29, 9, 0, 6)),
 (18,
  'Ricardo',
  'Lee',
  'jerryramos@example.com',
  'Computer Science',
  2027,
  Decimal('2.54'),
  'TX',
  1,
  'Product Management',
  'Marketing',
  datetime.datetime(2025, 11, 3, 19, 59, 1)),
 (19,
  'Anthony',
  'Marshall',
  'allen12@example.com',
  'Mechanical Engineering',
  2027,
  Decimal('3.88'),
  'CO',
  0,
  'Human Resources',
  'Data Analysis',
  datetime.datetime(2025, 6, 19, 5, 59, 40)),
 (20,
  'Nicole',
  'Shaw',
  'karen14@example.net',
  'Mechanical Engineering',
  2027,
  Decimal('2.75'),
  'HI',
  0,
  'Finance',
  'Data Analysis',
  datetime.datetime(2024, 5, 30, 16, 30, 22)),
 (21,
  'Wesley',
  'Jones',
  'stephaniesmith@example.org',
  'Accounting',
  2028,
  Decimal('3.97'),
  'IA',
  1,
  'Marketing',
  'Research',
  datetime.datetime(2024, 8, 5, 20, 28, 52)),
 (22,
  'Michael',
  'Lucas',
  'jacob09@example.net',
  'Economics',
  2026,
  Decimal('3.22'),
  'MN',
  0,
  'Human Resources',
  'Data Analysis',
  datetime.datetime(2023, 12, 11, 9, 59, 29)),
 (23,
  'Andrew',
  'Dixon',
  'danielmaldonado@example.net',
  'Computer Science',
  2028,
  Decimal('3.95'),
  'PW',
  1,
  'Software Development',
  'Software Development',
  datetime.datetime(2024, 5, 26, 7, 17, 23)),
 (24,
  'Nicholas',
  'Kennedy',
  'sethpadilla@example.org',
  'Economics',
  2025,
  Decimal('3.51'),
  'ME',
  0,
  'Human Resources',
  'Sales',
  datetime.datetime(2024, 2, 9, 0, 9, 40)),
 (25,
  'Diane',
  'Sherman',
  'morrissylvia@example.com',
  'Data Science',
  2027,
  Decimal('2.98'),
  'SD',
  1,
  'Sales',
  'Product Management',
  datetime.datetime(2024, 3, 31, 5, 25, 23)),
 (26,
  'Meagan',
  'Lewis',
  'amanda10@example.net',
  'Biology',
  2024,
  Decimal('3.18'),
  'MN',
  1,
  'Software Development',
  'Customer Service',
  datetime.datetime(2025, 7, 14, 6, 18, 18)),
 (27,
  'Kimberly',
  'Taylor',
  'kenneth30@example.net',
  'Finance',
  2024,
  Decimal('3.32'),
  'NV',
  1,
  'Operations',
  'Data Analysis',
  datetime.datetime(2024, 3, 30, 8, 1, 11)),
 (28,
  'Edward',
  'Hartman',
  'nsanchez@example.org',
  'Accounting',
  2024,
  Decimal('3.25'),
  'AS',
  0,
  'Supply Chain',
  'Data Analysis',
  datetime.datetime(2025, 9, 3, 3, 43, 5)),
 (29,
  'Cathy',
  'Bradley',
  'campbelldavid@example.com',
  'Finance',
  2028,
  Decimal('2.77'),
  'NC',
  1,
  'Engineering',
  'Data Analysis',
  datetime.datetime(2025, 10, 25, 6, 27, 2)),
 (30,
  'Tracy',
  'Kennedy',
  'elliottlindsey@example.com',
  'Data Science',
  2025,
  Decimal('3.93'),
  'KS',
  1,
  'Software Development',
  'Sales',
  datetime.datetime(2025, 10, 1, 0, 9, 23)),
 (31,
  'Jennifer',
  'Leach',
  'rebeccabailey@example.org',
  'Mechanical Engineering',
  2026,
  Decimal('3.57'),
  'MH',
  0,
  'Marketing',
  'Product Management',
  datetime.datetime(2024, 8, 28, 15, 24, 27)),
 (32,
  'Nicolas',
  'Gonzalez',
  'sotocarolyn@example.net',
  'Computer Science',
  2028,
  Decimal('3.54'),
  'MN',
  1,
  'Software Development',
  'Engineering',
  datetime.datetime(2025, 2, 20, 23, 35, 54)),
 (33,
  'Betty',
  'Rosales',
  'joshua39@example.com',
  'Psychology',
  2024,
  Decimal('3.63'),
  'LA',
  1,
  'Data Analysis',
  'Data Analysis',
  datetime.datetime(2024, 10, 22, 19, 57, 50)),
 (34,
  'Elizabeth',
  'Garrett',
  'swiggins@example.org',
  'Information Systems',
  2025,
  Decimal('3.07'),
  'CO',
  0,
  'Software Development',
  'Supply Chain',
  datetime.datetime(2025, 2, 3, 1, 30, 8)),
 (35,
  'Christina',
  'Bailey',
  'sgonzalez@example.org',
  'Information Systems',
  2028,
  Decimal('3.83'),
  'DE',
  0,
  'Finance',
  'Research',
  datetime.datetime(2025, 4, 2, 13, 11, 50)),
 (36,
  'Joy',
  'Oneal',
  'richardcannon@example.org',
  'Marketing',
  2025,
  Decimal('2.96'),
  'VA',
  0,
  'Sales',
  'Software Development',
  datetime.datetime(2024, 4, 5, 11, 28, 9)),
 (37,
  'Marissa',
  'Hawkins',
  'gregoryortiz@example.net',
  'Mechanical Engineering',
  2027,
  Decimal('3.94'),
  'ND',
  0,
  'Supply Chain',
  'Marketing',
  datetime.datetime(2024, 9, 26, 14, 33, 6)),
 (38,
  'Veronica',
  'Lopez',
  'scottgrant@example.org',
  'Economics',
  2025,
  Decimal('3.21'),
  'DE',
  1,
  'Software Development',
  'Engineering',
  datetime.datetime(2025, 8, 22, 4, 7, 40)),
 (39,
  'Mary',
  'Dennis',
  'matthew82@example.com',
  'Mechanical Engineering',
  2027,
  Decimal('2.71'),
  'NM',
  0,
  'Finance',
  'Research',
  datetime.datetime(2024, 3, 18, 18, 13, 40)),
 (40,
  'Sheryl',
  'Patterson',
  'howardrobert@example.org',
  'Accounting',
  2025,
  Decimal('2.50'),
  'IN',
  0,
  'Marketing',
  'Marketing',
  datetime.datetime(2024, 3, 21, 3, 43, 10)),
 (41,
  'Steven',
  'Santiago',
  'mmartinez@example.com',
  'Computer Science',
  2025,
  Decimal('3.13'),
  'NH',
  1,
  'Product Management',
  'Software Development',
  datetime.datetime(2025, 8, 1, 3, 25, 15)),
 (42,
  'Jason',
  'Allen',
  'hallanna@example.org',
  'Economics',
  2028,
  Decimal('3.65'),
  'PW',
  0,
  'Marketing',
  'Finance',
  datetime.datetime(2025, 1, 7, 14, 33)),
 (43,
  'Steven',
  'Miller',
  'christophermata@example.com',
  'Electrical Engineering',
  2028,
  Decimal('3.84'),
  'MT',
  0,
  'Customer Service',
  'Product Management',
  datetime.datetime(2025, 8, 13, 19, 58, 58)),
 (44,
  'Craig',
  'Simmons',
  'calebbeck@example.org',
  'Computer Science',
  2028,
  Decimal('3.84'),
  'UT',
  0,
  'Human Resources',
  'Finance',
  datetime.datetime(2024, 9, 24, 12, 21, 9)),
 (45,
  'Shannon',
  'Wall',
  'herringstephanie@example.com',
  'Accounting',
  2025,
  Decimal('3.86'),
  'GA',
  0,
  'Engineering',
  'Data Analysis',
  datetime.datetime(2025, 7, 16, 4, 17, 18)),
 (46,
  'Claire',
  'Bryant',
  'rcole@example.com',
  'Mechanical Engineering',
  2027,
  Decimal('3.40'),
  'PR',
  1,
  'Supply Chain',
  'Product Management',
  datetime.datetime(2024, 2, 4, 9, 29)),
 (47,
  'Kenneth',
  'Mcdaniel',
  'porterchristopher@example.org',
  'Computer Science',
  2026,
  Decimal('3.36'),
  'IL',
  1,
  'Engineering',
  'Product Management',
  datetime.datetime(2025, 4, 2, 13, 48, 5)),
 (48,
  'Bradley',
  'Williams',
  'chris10@example.org',
  'Finance',
  2026,
  Decimal('2.61'),
  'ID',
  0,
  'Finance',
  'Human Resources',
  datetime.datetime(2024, 12, 9, 4, 26, 29)),
 (49,
  'Charles',
  'Nelson',
  'jacobspaul@example.org',
  'Information Systems',
  2024,
  Decimal('3.44'),
  'NY',
  0,
  'Operations',
  'Research',
  datetime.datetime(2025, 4, 8, 7, 41, 2)),
 (50,
  'Shannon',
  'Mayer',
  'esparzalinda@example.com',
  'Computer Science',
  2024,
  Decimal('3.33'),
  'ME',
  1,
  'Operations',
  'Human Resources',
  datetime.datetime(2025, 6, 5, 15, 7, 47)),
 (51,
  'Allen',
  'Evans',
  'jamesalexander@example.com',
  'Marketing',
  2025,
  Decimal('2.68'),
  'TX',
  1,
  'Engineering',
  'Research',
  datetime.datetime(2025, 11, 29, 20, 20, 29)),
 (52,
  'Scott',
  'Ryan',
  'dominique90@example.org',
  'Business Administration',
  2027,
  Decimal('3.69'),
  'FL',
  1,
  'Research',
  'Marketing',
  datetime.datetime(2024, 4, 23, 15, 11, 54)),
 (53,
  'April',
  'Morrison',
  'jayhernandez@example.net',
  'Psychology',
  2028,
  Decimal('3.56'),
  'AL',
  1,
  'Marketing',
  'Human Resources',
  datetime.datetime(2025, 8, 21, 16, 30, 48)),
 (54,
  'Rhonda',
  'Miller',
  'meganmiller@example.org',
  'Biology',
  2028,
  Decimal('3.32'),
  'NV',
  1,
  'Marketing',
  'Finance',
  datetime.datetime(2025, 4, 6, 3, 26, 21)),
 (55,
  'Kevin',
  'Wolf',
  'taylor26@example.org',
  'Information Systems',
  2025,
  Decimal('3.16'),
  'AL',
  1,
  'Data Analysis',
  'Marketing',
  datetime.datetime(2024, 8, 20, 18, 27, 44)),
 (56,
  'Christine',
  'Herrera',
  'scombs@example.net',
  'Accounting',
  2026,
  Decimal('3.00'),
  'WI',
  1,
  'Operations',
  'Customer Service',
  datetime.datetime(2024, 12, 10, 8, 10, 13)),
 (57,
  'Stacy',
  'Perez',
  'kelsey70@example.com',
  'Business Administration',
  2028,
  Decimal('3.14'),
  'WY',
  1,
  'Operations',
  'Human Resources',
  datetime.datetime(2025, 10, 25, 14, 43, 48)),
 (58,
  'John',
  'Henderson',
  'bradleyvaughn@example.org',
  'Accounting',
  2024,
  Decimal('2.83'),
  'NH',
  0,
  'Sales',
  'Supply Chain',
  datetime.datetime(2024, 3, 5, 1, 43, 4)),
 (59,
  'Daniel',
  'Phillips',
  'acaldwell@example.net',
  'Biology',
  2024,
  Decimal('3.34'),
  'CA',
  0,
  'Customer Service',
  'Sales',
  datetime.datetime(2023, 12, 8, 4, 43, 16)),
 (60,
  'Angelica',
  'Stein',
  'zgrant@example.net',
  'Mechanical Engineering',
  2025,
  Decimal('2.88'),
  'MS',
  1,
  'Sales',
  'Human Resources',
  datetime.datetime(2024, 12, 2, 23, 59, 58)),
 (61,
  'Gregory',
  'Salazar',
  'elainemassey@example.com',
  'Psychology',
  2026,
  Decimal('2.63'),
  'NY',
  0,
  'Research',
  'Data Analysis',
  datetime.datetime(2025, 3, 31, 12, 25, 57)),
 (62,
  'Greg',
  'Robinson',
  'santosrachel@example.net',
  'Biology',
  2025,
  Decimal('2.64'),
  'IL',
  0,
  'Operations',
  'Human Resources',
  datetime.datetime(2024, 7, 10, 20, 23, 15)),
 (63,
  'Julie',
  'Evans',
  'robin29@example.org',
  'Data Science',
  2027,
  Decimal('3.95'),
  'UT',
  1,
  'Data Analysis',
  'Customer Service',
  datetime.datetime(2024, 4, 14, 22, 15, 48)),
 (64,
  'Kelsey',
  'Frey',
  'emilyhudson@example.org',
  'Information Systems',
  2024,
  Decimal('3.55'),
  'AZ',
  0,
  'Human Resources',
  'Software Development',
  datetime.datetime(2024, 9, 29, 14, 41, 33)),
 (65,
  'Patricia',
  'Padilla',
  'stacy84@example.net',
  'Marketing',
  2026,
  Decimal('3.91'),
  'MS',
  0,
  'Customer Service',
  'Marketing',
  datetime.datetime(2025, 8, 7, 22, 40, 6)),
 (66,
  'Tony',
  'Jacobs',
  'stephen87@example.net',
  'Biology',
  2027,
  Decimal('3.55'),
  'WA',
  0,
  'Operations',
  'Data Analysis',
  datetime.datetime(2023, 12, 13, 8, 41, 12)),
 (67,
  'Dennis',
  'Riley',
  'masonangela@example.net',
  'Finance',
  2024,
  Decimal('3.53'),
  'NE',
  1,
  'Customer Service',
  'Marketing',
  datetime.datetime(2024, 6, 8, 5, 11, 8)),
 (68,
  'Mark',
  'Davis',
  'anna74@example.net',
  'Data Science',
  2027,
  Decimal('2.81'),
  'TX',
  1,
  'Supply Chain',
  'Software Development',
  datetime.datetime(2024, 9, 5, 10, 7, 1)),
 (69,
  'Alexa',
  'Rogers',
  'maryclark@example.com',
  'Finance',
  2024,
  Decimal('3.17'),
  'PR',
  1,
  'Software Development',
  'Data Analysis',
  datetime.datetime(2025, 11, 12, 5, 20, 28)),
 (70,
  'Rebecca',
  'Trujillo',
  'eric07@example.com',
  'Information Systems',
  2024,
  Decimal('2.79'),
  'DE',
  0,
  'Data Analysis',
  'Data Analysis',
  datetime.datetime(2025, 7, 19, 3, 23, 49)),
 (71,
  'Erica',
  'Mcneil',
  'laurenking@example.org',
  'Finance',
  2024,
  Decimal('3.41'),
  'NH',
  0,
  'Sales',
  'Sales',
  datetime.datetime(2025, 6, 2, 15, 32, 13)),
 (72,
  'John',
  'Wright',
  'michael05@example.net',
  'Psychology',
  2027,
  Decimal('3.05'),
  'MT',
  1,
  'Supply Chain',
  'Software Development',
  datetime.datetime(2025, 4, 4, 19, 37, 37)),
 (73,
  'Hannah',
  'Horn',
  'banksmary@example.net',
  'Biology',
  2026,
  Decimal('3.56'),
  'IL',
  0,
  'Finance',
  'Operations',
  datetime.datetime(2025, 1, 25, 14, 51, 25)),
 (74,
  'Henry',
  'Turner',
  'garywarner@example.com',
  'Marketing',
  2025,
  Decimal('3.64'),
  'NE',
  0,
  'Human Resources',
  'Supply Chain',
  datetime.datetime(2024, 1, 17, 13, 36, 19)),
 (75,
  'Christina',
  'Velazquez',
  'qsteele@example.net',
  'Biology',
  2025,
  Decimal('3.31'),
  'VA',
  0,
  'Supply Chain',
  'Supply Chain',
  datetime.datetime(2024, 11, 11, 2, 50, 55)),
 (76,
  'Jake',
  'Mccarty',
  'malonevalerie@example.net',
  'Economics',
  2024,
  Decimal('2.61'),
  'IL',
  1,
  'Engineering',
  'Product Management',
  datetime.datetime(2025, 6, 26, 11, 55, 32)),
 (77,
  'John',
  'Williams',
  'peter93@example.com',
  'Computer Science',
  2025,
  Decimal('2.83'),
  'WY',
  1,
  'Finance',
  'Product Management',
  datetime.datetime(2025, 7, 15, 4, 22, 17)),
 (78,
  'Alexandra',
  'Howard',
  'michele10@example.com',
  'Computer Science',
  2028,
  Decimal('2.63'),
  'MT',
  1,
  'Marketing',
  'Data Analysis',
  datetime.datetime(2024, 10, 7, 17, 32, 43)),
 (79,
  'Andrew',
  'Larson',
  'brennancrystal@example.org',
  'Business Administration',
  2024,
  Decimal('3.16'),
  'VT',
  0,
  'Research',
  'Software Development',
  datetime.datetime(2025, 5, 9, 17, 2, 36)),
 (80,
  'Jeffrey',
  'Johnson',
  'djordan@example.org',
  'Mechanical Engineering',
  2027,
  Decimal('3.43'),
  'NC',
  1,
  'Human Resources',
  'Sales',
  datetime.datetime(2025, 10, 9, 13, 31, 54)),
 (81,
  'Lisa',
  'Wheeler',
  'james35@example.org',
  'Computer Science',
  2026,
  Decimal('3.43'),
  'LA',
  0,
  'Human Resources',
  'Product Management',
  datetime.datetime(2025, 8, 11, 22, 11, 45)),
 (82,
  'Marcus',
  'Espinoza',
  'davidpugh@example.org',
  'Finance',
  2028,
  Decimal('3.66'),
  'SC',
  1,
  'Engineering',
  'Operations',
  datetime.datetime(2025, 6, 7, 6, 18, 15)),
 (83,
  'Rodney',
  'Fernandez',
  'terrycorey@example.com',
  'Computer Science',
  2027,
  Decimal('2.53'),
  'WV',
  1,
  'Human Resources',
  'Sales',
  datetime.datetime(2024, 3, 26, 10, 16, 16)),
 (84,
  'Joshua',
  'Perry',
  'cindy96@example.org',
  'Computer Science',
  2026,
  Decimal('3.53'),
  'KS',
  1,
  'Customer Service',
  'Data Analysis',
  datetime.datetime(2024, 2, 6, 6, 52, 19)),
 (85,
  'Amy',
  'Mills',
  'hollyhayes@example.com',
  'Data Science',
  2026,
  Decimal('2.94'),
  'ND',
  0,
  'Supply Chain',
  'Human Resources',
  datetime.datetime(2024, 12, 21, 9, 40, 55)),
 (86,
  'Jennifer',
  'Taylor',
  'delgadokimberly@example.net',
  'Computer Science',
  2028,
  Decimal('3.94'),
  'AR',
  1,
  'Engineering',
  'Customer Service',
  datetime.datetime(2025, 11, 12, 20, 6, 34)),
 (87,
  'Ruben',
  'Kelly',
  'wardleonard@example.net',
  'Accounting',
  2027,
  Decimal('3.34'),
  'CT',
  0,
  'Customer Service',
  'Marketing',
  datetime.datetime(2024, 9, 18, 23, 32, 31)),
 (88,
  'Jorge',
  'Thompson',
  'egreene@example.com',
  'Data Science',
  2028,
  Decimal('3.16'),
  'HI',
  0,
  'Finance',
  'Engineering',
  datetime.datetime(2025, 6, 10, 16, 29, 24)),
 (89,
  'David',
  'Baldwin',
  'william08@example.net',
  'Economics',
  2025,
  Decimal('2.57'),
  'MA',
  0,
  'Research',
  'Software Development',
  datetime.datetime(2024, 6, 3, 17, 35, 24)),
 (90,
  'James',
  'Russell',
  'yatesnicole@example.org',
  'Information Systems',
  2025,
  Decimal('2.93'),
  'MA',
  0,
  'Finance',
  'Supply Chain',
  datetime.datetime(2024, 1, 11, 17, 50, 15)),
 (91,
  'Valerie',
  'Barrett',
  'marcusvazquez@example.net',
  'Business Administration',
  2028,
  Decimal('2.87'),
  'NC',
  1,
  'Research',
  'Engineering',
  datetime.datetime(2024, 4, 14, 13, 21, 50)),
 (92,
  'Brandy',
  'Wolfe',
  'rowedarrell@example.com',
  'Marketing',
  2027,
  Decimal('3.36'),
  'FL',
  1,
  'Software Development',
  'Human Resources',
  datetime.datetime(2025, 5, 17, 6, 39, 38)),
 (93,
  'Christopher',
  'Miller',
  'brentlawson@example.org',
  'Marketing',
  2024,
  Decimal('3.84'),
  'DE',
  0,
  'Engineering',
  'Human Resources',
  datetime.datetime(2024, 3, 29, 1, 9, 29)),
 (94,
  'Larry',
  'Ramos',
  'briggssteven@example.net',
  'Biology',
  2028,
  Decimal('2.94'),
  'KS',
  0,
  'Finance',
  'Research',
  datetime.datetime(2024, 9, 18, 20, 49, 40)),
 (95,
  'Kaitlyn',
  'Marshall',
  'pvelazquez@example.net',
  'Psychology',
  2027,
  Decimal('3.61'),
  'WY',
  1,
  'Marketing',
  'Product Management',
  datetime.datetime(2024, 3, 18, 11, 19, 41)),
 (96,
  'Elizabeth',
  'Oconnor',
  'alyssa24@example.com',
  'Information Systems',
  2024,
  Decimal('3.25'),
  'TX',
  0,
  'Sales',
  'Operations',
  datetime.datetime(2025, 6, 10, 20, 42, 33)),
 (97,
  'Jacob',
  'Cantu',
  'zsmith@example.net',
  'Electrical Engineering',
  2024,
  Decimal('3.53'),
  'RI',
  1,
  'Customer Service',
  'Finance',
  datetime.datetime(2024, 5, 5, 4, 38, 23)),
 (98,
  'John',
  'Moore',
  'rebecca23@example.org',
  'Information Systems',
  2026,
  Decimal('3.28'),
  'NC',
  0,
  'Customer Service',
  'Marketing',
  datetime.datetime(2024, 7, 28, 3, 23, 46)),
 (99,
  'Austin',
  'Ortiz',
  'larsondeborah@example.org',
  'Electrical Engineering',
  2025,
  Decimal('3.79'),
  'DC',
  0,
  'Sales',
  'Research',
  datetime.datetime(2024, 8, 18, 5, 2, 58)),
 (100,
  'Karen',
  'Patterson',
  'nrandolph@example.org',
  'Psychology',
  2026,
  Decimal('2.73'),
  'SC',
  1,
  'Customer Service',
  'Customer Service',

Use Case 1

In [26]:
sql_file = "../schema/use_case_1.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)
    
print("Use Case executed")

SQL file loaded

,position_id,title,location,required_experience,work_mode,company_name,job_category
0,111,Chiropractor,MA,2 years,Hybrid,"Harris, Bell and Yu",Marketing

Use Case executed

Use Case 2

In [27]:
sql_file = "../schema/use_case_2.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)
    
print("Use Case executed")

SQL file loaded

,position_id,title,location,required_experience,company_name,required_major
0,63,Senior tax professional/tax inspector,ID,0 years,Moran and Sons,Accounting
1,151,Industrial/product designer,VA,4 years,Malone Ltd,Accounting
2,198,"Scientist, forensic",RI,5 years,"Duarte, Brown and Stout",Accounting
3,91,"Surveyor, land/geomatics",IN,3 years,Rivera-Perry,Accounting
4,152,Trade mark attorney,VT,2 years,Johnson and Sons,Accounting
5,25,"Producer, television/film/video",RI,4 years,Wilkerson-Harper,Accounting
6,187,Haematologist,GA,0 years,"Crane, Cain and Edwards",Accounting
7,27,Counsellor,AL,0 years,"Walls, Murphy and Garrison",Accounting
8,38,Science writer,VI,3 years,Greene-Jones,Accounting
9,163,"Administrator, Civil Service",WA,1 years,Burke Ltd,Accounting
10,182,Medical laboratory scientific officer,UT,4 years,"Reynolds, Crawford and Lopez",Accounting

Use Case executed

Use Case 3

In [28]:
sql_file = "../schema/use_case_3.sql"

cur.execute("DROP PROCEDURE IF EXISTS Apply_For_Position")

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

try: cur.execute("CALL Apply_For_Position(4, 198)")
except Exception as e: print(e)

cur.execute("CALL Apply_For_Position(3, 198)")
cur.execute("SELECT * FROM Application ORDER BY application_id DESC LIMIT 1")

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)

db.commit()
print("Use Case executed")

SQL file loaded
1644 (HY000): This position required major is Accounting

   application_id  user_id  position_id application_date     status notes
0             658        3          198       2025-12-01  Submitted  None

Use Case executed

Use Case 4

In [29]:
sql_file = "../schema/use_case_4.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)
    
print("Use Case executed")

SQL file loaded

   num_applications
0                14

Use Case executed

Use Case 5

In [30]:
sql_file = "../schema/use_case_5.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)
    
print("Use Case executed")

SQL file loaded

     gpa   first_name  last_name
0   3.96        Brent    Johnson
1   3.93        Tracy    Kennedy
2   3.86      Shannon       Wall
3   3.84  Christopher     Miller
4   3.81      Jessica    Mcclure
5   3.60     Samantha       West
6   3.44      Melissa     Castro
7   3.43         Lisa    Wheeler
8   3.33      Shannon      Mayer
9   3.32       Rhonda     Miller
10  3.25        Megan         Yu
11  2.75       Nicole       Shaw
12  2.75         Evan    Sanders
13  2.73        Karen  Patterson

Use Case executed

Use Case 6

In [ ]:
sql_file = "../schema/use_case_6.sql"

cur.execute("DROP TRIGGER IF EXISTS Notify_Matching_Majors;")

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)
    
print("Use Case executed")

Testing the trigger

In [ ]:
sql_file = "../schema/use_case_6_test.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

position_id = cur.lastrowid

cur.execute("""
    SELECT u.first_name, u.last_name, u.major, a.notes
    FROM Application a
    JOIN Users u ON a.user_id = u.user_id
    WHERE a.position_id = %s
""", (position_id,))

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)

SQL file loaded

,first_name,last_name,major,notes
0,Erik,Smith,Biology,Erik! A new position is available: Biology Res...
1,Maureen,Roberts,Biology,Maureen! A new position is available: Biology ...
2,Tiffany,Hamilton,Biology,Tiffany! A new position is available: Biology ...
3,Meagan,Lewis,Biology,Meagan! A new position is available: Biology R...
4,Rhonda,Miller,Biology,Rhonda! A new position is available: Biology R...
5,Daniel,Phillips,Biology,Daniel! A new position is available: Biology R...
6,Greg,Robinson,Biology,Greg! A new position is available: Biology Res...
7,Tony,Jacobs,Biology,Tony! A new position is available: Biology Res...
8,Hannah,Horn,Biology,Hannah! A new position is available: Biology R...
9,Christina,Velazquez,Biology,Christina! A new position is available: Biolog...
10,Larry,Ramos,Biology,Larry! A new position is available: Biology Re...
11,John,Forbes,Biology,John! A new position is available: Biology Res...
12,Kathleen,Andrews,Biology,Kathleen! A new position is available: Biology...
13,Kelly,Hurst,Biology,Kelly! A new position is available: Biology Re...
14,Alexandra,Mcdaniel,Biology,Alexandra! A new position is available: Biolog...

Use Case 7

In [ ]:
sql_file = "../schema/use_case_7.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)
    
print("Use Case executed")

SQL file loaded

ProgrammingError: 1146 (42S02): Table 'huskiesjob.position' doesn't exist

Close cursor and database

In [ ]:
cur.close()
db.close()
print("All Use Cases executed successfully.")

All Use Cases executed successfully.