# Example Use Queries

Import libraries.

In [37]:
import mysql.connector
from dotenv import load_dotenv
import os
import pandas as pd

Load enviornment variables.

In [38]:
load_dotenv()

HOST = os.getenv("MYSQL_HOST", "localhost")
USER = os.getenv("MYSQL_USER", "root")
PASSWORD = os.getenv("MYSQL_PASSWORD")

Connect to mysql server

In [42]:
db = mysql.connector.connect(
    host=HOST,
    user=USER,              
    password=PASSWORD
)
cur = db.cursor()
print("Connected!")
cur.execute("USE HuskiesJob")
cur.execute("SELECT * FROM Users")
cur.fetchall()

Connected!

[(1,
  'Christopher',
  'Pugh',
  'eric77@example.net',
  'Data Science',
  2024,
  Decimal('3.28'),
  'VT',
  1,
  'Operations',
  'Software Development',
  datetime.datetime(2024, 9, 1, 20, 56, 40)),
 (2,
  'Renee',
  'Lambert',
  'wleonard@example.org',
  'Business Administration',
  2025,
  Decimal('2.80'),
  'MD',
  0,
  'Operations',
  'Product Management',
  datetime.datetime(2024, 10, 5, 13, 8, 48)),
 (3,
  'Marisa',
  'Sanchez',
  'thomas89@example.com',
  'Mechanical Engineering',
  2025,
  Decimal('2.54'),
  'LA',
  0,
  'Sales',
  'Data Analysis',
  datetime.datetime(2024, 6, 8, 5, 47, 55)),
 (4,
  'Carol',
  'Johnson',
  'jmartinez@example.com',
  'Computer Science',
  2024,
  Decimal('3.57'),
  'RI',
  1,
  'Marketing',
  'Customer Service',
  datetime.datetime(2024, 12, 21, 10, 32, 6)),
 (5,
  'Amanda',
  'Goodwin',
  'loweryashley@example.com',
  'Psychology',
  2027,
  Decimal('3.87'),
  'NJ',
  0,
  'Software Development',
  'Sales',
  datetime.datetime(2024, 9, 22, 4, 7, 48)),
 (6,
  'Jennifer',
  'Reynolds',
  'rebecca81@example.org',
  'Marketing',
  2025,
  Decimal('3.45'),
  'OH',
  0,
  'Software Development',
  'Customer Service',
  datetime.datetime(2024, 12, 5, 5, 1, 24)),
 (7,
  'Brittany',
  'Hunt',
  'davenportdiane@example.com',
  'Data Science',
  2025,
  Decimal('2.52'),
  'UT',
  1,
  'Customer Service',
  'Customer Service',
  datetime.datetime(2024, 8, 30, 2, 33, 43)),
 (8,
  'Joshua',
  'Reed',
  'pamelacarlson@example.org',
  'Biology',
  2026,
  Decimal('3.60'),
  'NJ',
  0,
  'Customer Service',
  'Operations',
  datetime.datetime(2024, 1, 12, 0, 32, 24)),
 (9,
  'Tammy',
  'Bird',
  'chris04@example.net',
  'Data Science',
  2025,
  Decimal('2.58'),
  'VT',
  0,
  'Product Management',
  'Finance',
  datetime.datetime(2025, 11, 17, 18, 45, 3)),
 (10,
  'Stephanie',
  'Callahan',
  'campbellerika@example.com',
  'Biology',
  2028,
  Decimal('3.38'),
  'RI',
  1,
  'Finance',
  'Marketing',
  datetime.datetime(2025, 9, 20, 22, 53, 41)),
 (11,
  'Kevin',
  'Gilbert',
  'nmccullough@example.net',
  'Psychology',
  2025,
  Decimal('3.79'),
  'KS',
  0,
  'Supply Chain',
  'Finance',
  datetime.datetime(2024, 6, 20, 1, 38, 18)),
 (12,
  'Tara',
  'Williams',
  'wayne53@example.com',
  'Mechanical Engineering',
  2025,
  Decimal('2.76'),
  'NE',
  1,
  'Human Resources',
  'Finance',
  datetime.datetime(2024, 8, 9, 19, 10, 9)),
 (13,
  'Austin',
  'Kline',
  'michael79@example.com',
  'Marketing',
  2024,
  Decimal('2.69'),
  'HI',
  1,
  'Supply Chain',
  'Research',
  datetime.datetime(2023, 12, 6, 10, 17, 15)),
 (14,
  'Tami',
  'Shelton',
  'julie50@example.org',
  'Business Administration',
  2027,
  Decimal('2.76'),
  'NV',
  1,
  'Marketing',
  'Engineering',
  datetime.datetime(2025, 5, 30, 15, 7, 31)),
 (15,
  'Angela',
  'Wilson',
  'tmcfarland@example.com',
  'Data Science',
  2025,
  Decimal('3.21'),
  'MP',
  1,
  'Product Management',
  'Operations',
  datetime.datetime(2025, 5, 4, 4, 30, 48)),
 (16,
  'Jason',
  'Woods',
  'danielblanchard@example.org',
  'Marketing',
  2027,
  Decimal('3.65'),
  'FM',
  1,
  'Human Resources',
  'Customer Service',
  datetime.datetime(2025, 4, 28, 7, 11, 30)),
 (17,
  'Jonathan',
  'Miller',
  'williamsrobert@example.net',
  'Marketing',
  2024,
  Decimal('2.83'),
  'VA',
  0,
  'Supply Chain',
  'Finance',
  datetime.datetime(2024, 10, 6, 9, 26, 57)),
 (18,
  'Barry',
  'Reed',
  'robin88@example.com',
  'Electrical Engineering',
  2024,
  Decimal('3.56'),
  'SC',
  1,
  'Marketing',
  'Product Management',
  datetime.datetime(2025, 10, 24, 1, 2, 45)),
 (19,
  'Maria',
  'Caldwell',
  'kylereyes@example.com',
  'Biology',
  2026,
  Decimal('2.96'),
  'WV',
  1,
  'Customer Service',
  'Product Management',
  datetime.datetime(2024, 9, 25, 3, 44, 19)),
 (20,
  'Michelle',
  'Gentry',
  'mitchelleric@example.org',
  'Mechanical Engineering',
  2024,
  Decimal('3.85'),
  'GU',
  0,
  'Operations',
  'Sales',
  datetime.datetime(2024, 7, 9, 21, 43, 11)),
 (21,
  'Abigail',
  'Kirby',
  'haydenbyrd@example.net',
  'Biology',
  2027,
  Decimal('3.06'),
  'MP',
  1,
  'Human Resources',
  'Supply Chain',
  datetime.datetime(2024, 4, 13, 2, 16, 43)),
 (22,
  'Curtis',
  'Brown',
  'bguzman@example.org',
  'Business Administration',
  2026,
  Decimal('2.56'),
  'MO',
  0,
  'Data Analysis',
  'Research',
  datetime.datetime(2025, 4, 10, 5, 15, 23)),
 (23,
  'Alice',
  'Lester',
  'rebecca67@example.net',
  'Data Science',
  2028,
  Decimal('3.72'),
  'KS',
  0,
  'Supply Chain',
  'Operations',
  datetime.datetime(2025, 6, 27, 11, 0, 19)),
 (24,
  'Jesus',
  'Davis',
  'greentracey@example.com',
  'Psychology',
  2026,
  Decimal('3.26'),
  'LA',
  0,
  'Finance',
  'Finance',
  datetime.datetime(2024, 2, 23, 15, 20, 23)),
 (25,
  'Seth',
  'Mitchell',
  'theresaallen@example.org',
  'Biology',
  2026,
  Decimal('2.64'),
  'LA',
  0,
  'Sales',
  'Marketing',
  datetime.datetime(2025, 10, 4, 5, 37, 57)),
 (26,
  'Emily',
  'Morris',
  'matthewhinton@example.com',
  'Mechanical Engineering',
  2024,
  Decimal('2.89'),
  'CA',
  0,
  'Research',
  'Human Resources',
  datetime.datetime(2024, 12, 4, 1, 31, 14)),
 (27,
  'Christopher',
  'Moore',
  'boothmaria@example.net',
  'Data Science',
  2026,
  Decimal('3.51'),
  'FM',
  1,
  'Customer Service',
  'Data Analysis',
  datetime.datetime(2023, 12, 30, 14, 15, 41)),
 (28,
  'Henry',
  'Perez',
  'lauren32@example.com',
  'Mechanical Engineering',
  2025,
  Decimal('3.86'),
  'CT',
  1,
  'Engineering',
  'Finance',
  datetime.datetime(2024, 5, 2, 16, 36, 12)),
 (29,
  'Alexis',
  'Smith',
  'eric69@example.net',
  'Marketing',
  2026,
  Decimal('3.11'),
  'WY',
  0,
  'Research',
  'Research',
  datetime.datetime(2025, 2, 28, 2, 2, 5)),
 (30,
  'Jessica',
  'Taylor',
  'mayholly@example.com',
  'Marketing',
  2027,
  Decimal('3.05'),
  'NC',
  1,
  'Sales',
  'Software Development',
  datetime.datetime(2025, 6, 22, 12, 30, 16)),
 (31,
  'Amanda',
  'Thomas',
  'ricematthew@example.org',
  'Marketing',
  2026,
  Decimal('3.02'),
  'WV',
  0,
  'Operations',
  'Research',
  datetime.datetime(2024, 8, 22, 21, 9, 1)),
 (32,
  'Melissa',
  'Miller',
  'matthewjoseph@example.net',
  'Finance',
  2028,
  Decimal('3.87'),
  'IA',
  0,
  'Engineering',
  'Engineering',
  datetime.datetime(2025, 7, 28, 10, 7, 38)),
 (33,
  'Lisa',
  'Taylor',
  'raymondgross@example.org',
  'Accounting',
  2025,
  Decimal('3.86'),
  'GU',
  1,
  'Supply Chain',
  'Marketing',
  datetime.datetime(2025, 3, 20, 2, 3, 55)),
 (34,
  'Steven',
  'Watts',
  'crossedgar@example.net',
  'Economics',
  2027,
  Decimal('3.66'),
  'ID',
  0,
  'Software Development',
  'Data Analysis',
  datetime.datetime(2024, 4, 13, 17, 13, 32)),
 (35,
  'Victor',
  'Zimmerman',
  'jamesprice@example.org',
  'Computer Science',
  2025,
  Decimal('2.64'),
  'LA',
  1,
  'Data Analysis',
  'Marketing',
  datetime.datetime(2024, 11, 4, 4, 56, 58)),
 (36,
  'Jacqueline',
  'Short',
  'andrenavarro@example.net',
  'Data Science',
  2026,
  Decimal('3.68'),
  'AK',
  1,
  'Supply Chain',
  'Human Resources',
  datetime.datetime(2024, 7, 24, 22, 47, 52)),
 (37,
  'Andrea',
  'Preston',
  'josephfreeman@example.net',
  'Data Science',
  2026,
  Decimal('3.89'),
  'TX',
  1,
  'Engineering',
  'Finance',
  datetime.datetime(2025, 2, 5, 15, 40, 48)),
 (38,
  'Fernando',
  'Bailey',
  'carolynpadilla@example.org',
  'Accounting',
  2028,
  Decimal('2.71'),
  'KS',
  1,
  'Software Development',
  'Marketing',
  datetime.datetime(2025, 3, 5, 14, 11, 39)),
 (39,
  'Amanda',
  'Brown',
  'hamiltonkeith@example.net',
  'Psychology',
  2026,
  Decimal('2.79'),
  'KS',
  0,
  'Sales',
  'Supply Chain',
  datetime.datetime(2025, 5, 4, 7, 42, 54)),
 (40,
  'Thomas',
  'Parker',
  'suzanne10@example.org',
  'Electrical Engineering',
  2028,
  Decimal('2.98'),
  'OK',
  0,
  'Finance',
  'Operations',
  datetime.datetime(2024, 12, 22, 4, 11, 40)),
 (41,
  'Nancy',
  'Wood',
  'johnroberts@example.org',
  'Economics',
  2024,
  Decimal('3.52'),
  'OK',
  1,
  'Operations',
  'Finance',
  datetime.datetime(2025, 5, 13, 8, 29, 27)),
 (42,
  'Ellen',
  'Williams',
  'michelleroberts@example.org',
  'Psychology',
  2027,
  Decimal('3.57'),
  'WA',
  0,
  'Sales',
  'Data Analysis',
  datetime.datetime(2024, 9, 7, 11, 47, 42)),
 (43,
  'Matthew',
  'Bennett',
  'davidsonbenjamin@example.com',
  'Marketing',
  2024,
  Decimal('2.73'),
  'NE',
  0,
  'Supply Chain',
  'Data Analysis',
  datetime.datetime(2025, 3, 26, 4, 36, 4)),
 (44,
  'Eric',
  'Reyes',
  'clayeric@example.net',
  'Biology',
  2027,
  Decimal('3.30'),
  'OK',
  1,
  'Supply Chain',
  'Operations',
  datetime.datetime(2025, 9, 26, 22, 9, 11)),
 (45,
  'Steven',
  'Rodriguez',
  'robertluna@example.org',
  'Information Systems',
  2027,
  Decimal('2.87'),
  'KS',
  1,
  'Customer Service',
  'Human Resources',
  datetime.datetime(2025, 2, 23, 5, 35, 23)),
 (46,
  'Michelle',
  'Gomez',
  'jonathan12@example.org',
  'Accounting',
  2028,
  Decimal('3.18'),
  'OK',
  1,
  'Human Resources',
  'Software Development',
  datetime.datetime(2024, 5, 5, 10, 37, 33)),
 (47,
  'Brittany',
  'Martinez',
  'trose@example.org',
  'Mechanical Engineering',
  2025,
  Decimal('3.46'),
  'WI',
  1,
  'Research',
  'Supply Chain',
  datetime.datetime(2024, 11, 23, 13, 38, 21)),
 (48,
  'Catherine',
  'Brock',
  'phunt@example.net',
  'Economics',
  2028,
  Decimal('3.71'),
  'PW',
  0,
  'Human Resources',
  'Product Management',
  datetime.datetime(2024, 1, 30, 14, 13, 11)),
 (49,
  'Heather',
  'Harrison',
  'karenwiley@example.com',
  'Data Science',
  2027,
  Decimal('3.31'),
  'AS',
  1,
  'Marketing',
  'Engineering',
  datetime.datetime(2023, 12, 17, 5, 46, 57)),
 (50,
  'Patrick',
  'Dudley',
  'michelle52@example.org',
  'Biology',
  2024,
  Decimal('3.50'),
  'WI',
  0,
  'Research',
  'Research',
  datetime.datetime(2024, 9, 22, 10, 12, 29)),
 (51,
  'Maurice',
  'Martinez',
  'james31@example.com',
  'Data Science',
  2026,
  Decimal('3.59'),
  'AS',
  0,
  'Product Management',
  'Operations',
  datetime.datetime(2025, 6, 22, 13, 9, 47)),
 (52,
  'Joy',
  'Atkinson',
  'cindy40@example.net',
  'Information Systems',
  2026,
  Decimal('2.92'),
  'FL',
  0,
  'Supply Chain',
  'Software Development',
  datetime.datetime(2024, 2, 12, 3, 10, 45)),
 (53,
  'Anna',
  'Ferguson',
  'matthewrodriguez@example.com',
  'Computer Science',
  2025,
  Decimal('3.99'),
  'UT',
  0,
  'Human Resources',
  'Sales',
  datetime.datetime(2025, 6, 14, 15, 53, 14)),
 (54,
  'Alfred',
  'Smith',
  'nguyenangela@example.net',
  'Psychology',
  2028,
  Decimal('2.71'),
  'NY',
  1,
  'Engineering',
  'Marketing',
  datetime.datetime(2025, 4, 19, 15, 27, 29)),
 (55,
  'Brittany',
  'Velasquez',
  'darrelltyler@example.org',
  'Computer Science',
  2024,
  Decimal('3.46'),
  'WV',
  1,
  'Finance',
  'Supply Chain',
  datetime.datetime(2024, 4, 16, 18, 53, 26)),
 (56,
  'Douglas',
  'Moon',
  'watsontodd@example.com',
  'Psychology',
  2028,
  Decimal('2.59'),
  'NM',
  0,
  'Human Resources',
  'Product Management',
  datetime.datetime(2024, 12, 30, 10, 36, 41)),
 (57,
  'Sheila',
  'James',
  'bflores@example.com',
  'Biology',
  2026,
  Decimal('2.54'),
  'VI',
  0,
  'Product Management',
  'Data Analysis',
  datetime.datetime(2024, 6, 4, 2, 31, 51)),
 (58,
  'Andrew',
  'Perez',
  'amanda12@example.org',
  'Biology',
  2028,
  Decimal('3.72'),
  'KS',
  1,
  'Marketing',
  'Software Development',
  datetime.datetime(2024, 10, 18, 5, 8, 17)),
 (59,
  'Valerie',
  'White',
  'juan53@example.net',
  'Business Administration',
  2027,
  Decimal('2.70'),
  'LA',
  1,
  'Product Management',
  'Data Analysis',
  datetime.datetime(2025, 11, 24, 16, 15, 20)),
 (60,
  'Kevin',
  'Palmer',
  'kristinemartin@example.org',
  'Business Administration',
  2026,
  Decimal('3.49'),
  'PA',
  0,
  'Supply Chain',
  'Marketing',
  datetime.datetime(2024, 4, 14, 20, 15, 4)),
 (61,
  'Denise',
  'Anderson',
  'karenjohnston@example.com',
  'Marketing',
  2028,
  Decimal('3.61'),
  'IL',
  1,
  'Engineering',
  'Research',
  datetime.datetime(2025, 4, 19, 14, 44, 28)),
 (62,
  'Madison',
  'Terrell',
  'donaldhaney@example.net',
  'Data Science',
  2026,
  Decimal('3.75'),
  'MT',
  0,
  'Customer Service',
  'Sales',
  datetime.datetime(2025, 11, 4, 22, 25, 24)),
 (63,
  'Julie',
  'Hill',
  'vanessapollard@example.org',
  'Economics',
  2028,
  Decimal('3.76'),
  'FL',
  1,
  'Research',
  'Customer Service',
  datetime.datetime(2024, 6, 2, 9, 40, 4)),
 (64,
  'Karina',
  'Glover',
  'lori32@example.com',
  'Biology',
  2028,
  Decimal('3.38'),
  'MH',
  1,
  'Product Management',
  'Finance',
  datetime.datetime(2025, 7, 24, 1, 19, 55)),
 (65,
  'Steven',
  'Brady',
  'boydscott@example.net',
  'Information Systems',
  2024,
  Decimal('2.94'),
  'VI',
  1,
  'Operations',
  'Supply Chain',
  datetime.datetime(2025, 9, 1, 6, 31, 58)),
 (66,
  'Lori',
  'Choi',
  'conradcheyenne@example.net',
  'Mechanical Engineering',
  2026,
  Decimal('3.70'),
  'SD',
  1,
  'Supply Chain',
  'Product Management',
  datetime.datetime(2024, 9, 18, 0, 35, 14)),
 (67,
  'Albert',
  'Harrington',
  'collinsjames@example.org',
  'Data Science',
  2024,
  Decimal('2.82'),
  'FM',
  0,
  'Human Resources',
  'Supply Chain',
  datetime.datetime(2025, 2, 17, 16, 11, 25)),
 (68,
  'Patricia',
  'Daniels',
  'jacksonbrian@example.net',
  'Accounting',
  2024,
  Decimal('3.06'),
  'SD',
  0,
  'Supply Chain',
  'Product Management',
  datetime.datetime(2025, 2, 16, 10, 58, 19)),
 (69,
  'Kathleen',
  'Garcia',
  'maryfuller@example.com',
  'Information Systems',
  2025,
  Decimal('3.26'),
  'SD',
  1,
  'Operations',
  'Customer Service',
  datetime.datetime(2024, 2, 11, 13, 54, 23)),
 (70,
  'Matthew',
  'Gibson',
  'inguyen@example.net',
  'Data Science',
  2028,
  Decimal('2.89'),
  'NJ',
  0,
  'Research',
  'Data Analysis',
  datetime.datetime(2025, 9, 19, 8, 16, 15)),
 (71,
  'Timothy',
  'Smith',
  'charles44@example.org',
  'Electrical Engineering',
  2026,
  Decimal('2.87'),
  'VT',
  1,
  'Product Management',
  'Data Analysis',
  datetime.datetime(2025, 11, 25, 7, 52)),
 (72,
  'Melissa',
  'King',
  'cunninghamdawn@example.org',
  'Business Administration',
  2025,
  Decimal('2.77'),
  'WV',
  0,
  'Software Development',
  'Sales',
  datetime.datetime(2025, 4, 12, 20, 58, 31)),
 (73,
  'Joshua',
  'Schaefer',
  'fernandezlori@example.net',
  'Finance',
  2026,
  Decimal('2.77'),
  'IN',
  1,
  'Data Analysis',
  'Operations',
  datetime.datetime(2024, 1, 29, 9, 45, 17)),
 (74,
  'Shane',
  'Davis',
  'youngmichael@example.net',
  'Information Systems',
  2027,
  Decimal('3.06'),
  'PW',
  1,
  'Research',
  'Operations',
  datetime.datetime(2024, 10, 22, 11, 37, 37)),
 (75,
  'Alice',
  'Perez',
  'xarroyo@example.org',
  'Economics',
  2028,
  Decimal('3.68'),
  'IL',
  0,
  'Product Management',
  'Data Analysis',
  datetime.datetime(2024, 1, 14, 21, 6, 30)),
 (76,
  'Randall',
  'Hayes',
  'kmiller@example.org',
  'Mechanical Engineering',
  2024,
  Decimal('2.94'),
  'MD',
  0,
  'Product Management',
  'Software Development',
  datetime.datetime(2025, 10, 13, 1, 5, 59)),
 (77,
  'Blake',
  'Charles',
  'kevincline@example.org',
  'Computer Science',
  2026,
  Decimal('3.60'),
  'MP',
  1,
  'Data Analysis',
  'Product Management',
  datetime.datetime(2024, 6, 14, 8, 36, 54)),
 (78,
  'Timothy',
  'Morgan',
  'samanthaharris@example.com',
  'Finance',
  2024,
  Decimal('2.82'),
  'OK',
  1,
  'Human Resources',
  'Supply Chain',
  datetime.datetime(2025, 3, 8, 12, 43, 5)),
 (79,
  'Trevor',
  'Fox',
  'parkergregory@example.net',
  'Accounting',
  2026,
  Decimal('3.89'),
  'AS',
  1,
  'Customer Service',
  'Operations',
  datetime.datetime(2025, 9, 18, 18, 1, 57)),
 (80,
  'Jessica',
  'Wright',
  'warrenjennifer@example.com',
  'Electrical Engineering',
  2025,
  Decimal('3.46'),
  'SD',
  1,
  'Finance',
  'Engineering',
  datetime.datetime(2025, 8, 17, 13, 40, 58)),
 (81,
  'Jennifer',
  'Mcdonald',
  'felicia20@example.com',
  'Data Science',
  2026,
  Decimal('3.59'),
  'AZ',
  0,
  'Data Analysis',
  'Research',
  datetime.datetime(2023, 12, 25, 23, 19, 38)),
 (82,
  'Amanda',
  'Hodges',
  'kingjoanna@example.com',
  'Marketing',
  2025,
  Decimal('3.61'),
  'PR',
  1,
  'Product Management',
  'Finance',
  datetime.datetime(2023, 12, 11, 15, 33, 59)),
 (83,
  'Michael',
  'Harvey',
  'amandalutz@example.com',
  'Psychology',
  2027,
  Decimal('2.53'),
  'MD',
  1,
  'Operations',
  'Software Development',
  datetime.datetime(2025, 5, 24, 22, 0, 49)),
 (84,
  'Timothy',
  'Vazquez',
  'moorebridget@example.org',
  'Electrical Engineering',
  2025,
  Decimal('3.42'),
  'TX',
  0,
  'Engineering',
  'Operations',
  datetime.datetime(2025, 1, 10, 19, 59, 23)),
 (85,
  'Jennifer',
  'Hinton',
  'ghernandez@example.org',
  'Biology',
  2027,
  Decimal('2.65'),
  'VA',
  1,
  'Finance',
  'Research',
  datetime.datetime(2024, 8, 15, 11, 46, 59)),
 (86,
  'Jean',
  'Holt',
  'stephanieashley@example.org',
  'Accounting',
  2028,
  Decimal('2.64'),
  'OK',
  0,
  'Operations',
  'Supply Chain',
  datetime.datetime(2024, 2, 7, 0, 58, 56)),
 (87,
  'Eric',
  'Miller',
  'kparks@example.org',
  'Computer Science',
  2025,
  Decimal('3.13'),
  'AR',
  1,
  'Sales',
  'Supply Chain',
  datetime.datetime(2024, 8, 23, 13, 56, 26)),
 (88,
  'April',
  'Robinson',
  'michael43@example.net',
  'Accounting',
  2027,
  Decimal('2.95'),
  'MA',
  1,
  'Supply Chain',
  'Human Resources',
  datetime.datetime(2025, 5, 5, 13, 16, 5)),
 (89,
  'Susan',
  'Payne',
  'danielmcintyre@example.com',
  'Psychology',
  2028,
  Decimal('3.09'),
  'OK',
  1,
  'Supply Chain',
  'Customer Service',
  datetime.datetime(2025, 5, 1, 10, 29, 14)),
 (90,
  'Mark',
  'Hoover',
  'morganthomas@example.net',
  'Economics',
  2028,
  Decimal('3.87'),
  'GA',
  0,
  'Sales',
  'Marketing',
  datetime.datetime(2025, 2, 14, 9, 27, 16)),
 (91,
  'Jeremy',
  'Hicks',
  'gonzalezjames@example.net',
  'Marketing',
  2028,
  Decimal('3.28'),
  'RI',
  0,
  'Customer Service',
  'Software Development',
  datetime.datetime(2024, 11, 19, 10, 47, 20)),
 (92,
  'Brandy',
  'Bishop',
  'zwhite@example.net',
  'Electrical Engineering',
  2024,
  Decimal('2.73'),
  'NJ',
  0,
  'Operations',
  'Engineering',
  datetime.datetime(2025, 7, 8, 3, 32, 26)),
 (93,
  'Jesus',
  'Boyd',
  'richardsharp@example.org',
  'Mechanical Engineering',
  2024,
  Decimal('2.73'),
  'VI',
  1,
  'Engineering',
  'Research',
  datetime.datetime(2024, 2, 9, 15, 50, 34)),
 (94,
  'Christopher',
  'Vasquez',
  'kwilson@example.net',
  'Accounting',
  2027,
  Decimal('3.32'),
  'PW',
  1,
  'Customer Service',
  'Finance',
  datetime.datetime(2024, 4, 29, 6, 7, 18)),
 (95,
  'Rose',
  'Mckinney',
  'qdillon@example.net',
  'Economics',
  2028,
  Decimal('3.91'),
  'MO',
  0,
  'Product Management',
  'Research',
  datetime.datetime(2024, 6, 27, 9, 45, 44)),
 (96,
  'Christy',
  'Ryan',
  'thomas21@example.net',
  'Mechanical Engineering',
  2027,
  Decimal('3.31'),
  'WA',
  0,
  'Data Analysis',
  'Human Resources',
  datetime.datetime(2024, 8, 30, 17, 45, 58)),
 (97,
  'Kylie',
  'Rodriguez',
  'kelsey63@example.net',
  'Biology',
  2026,
  Decimal('2.52'),
  'OR',
  1,
  'Supply Chain',
  'Human Resources',
  datetime.datetime(2025, 2, 19, 14, 50, 53)),
 (98,
  'Andrea',
  'Watts',
  'joseph02@example.com',
  'Biology',
  2025,
  Decimal('3.41'),
  'ND',
  0,
  'Supply Chain',
  'Supply Chain',
  datetime.datetime(2025, 7, 7, 18, 59, 39)),
 (99,
  'Sean',
  'Garcia',
  'whitewilliam@example.net',
  'Economics',
  2026,
  Decimal('3.04'),
  'DC',
  0,
  'Product Management',
  'Operations',
  datetime.datetime(2025, 6, 5, 21, 3, 44)),
 (100,
  'Joe',
  'Hebert',
  'jasonbond@example.net',
  'Psychology',
  2024,
  Decimal('3.87'),
  'MI',
  0,
  'Finance',
  'Supply Chain',
  datetime.datetime(2024, 5, 20, 2, 11, 41)),
 (101,

Show Tables and Data

In [28]:
results = cur.fetchall()
for row in results:
    print(row)

(1, 'Christopher', 'Pugh', 'eric77@example.net', 'Data Science', 2024, Decimal('3.28'), 'VT', 1, 'Operations', 'Software Development', datetime.datetime(2024, 9, 1, 20, 56, 40))
(2, 'Renee', 'Lambert', 'wleonard@example.org', 'Business Administration', 2025, Decimal('2.80'), 'MD', 0, 'Operations', 'Product Management', datetime.datetime(2024, 10, 5, 13, 8, 48))
(3, 'Marisa', 'Sanchez', 'thomas89@example.com', 'Mechanical Engineering', 2025, Decimal('2.54'), 'LA', 0, 'Sales', 'Data Analysis', datetime.datetime(2024, 6, 8, 5, 47, 55))
(4, 'Carol', 'Johnson', 'jmartinez@example.com', 'Computer Science', 2024, Decimal('3.57'), 'RI', 1, 'Marketing', 'Customer Service', datetime.datetime(2024, 12, 21, 10, 32, 6))
(5, 'Amanda', 'Goodwin', 'loweryashley@example.com', 'Psychology', 2027, Decimal('3.87'), 'NJ', 0, 'Software Development', 'Sales', datetime.datetime(2024, 9, 22, 4, 7, 48))
(6, 'Jennifer', 'Reynolds', 'rebecca81@example.org', 'Marketing', 2025, Decimal('3.45'), 'OH', 0, 'Software Development', 'Customer Service', datetime.datetime(2024, 12, 5, 5, 1, 24))
(7, 'Brittany', 'Hunt', 'davenportdiane@example.com', 'Data Science', 2025, Decimal('2.52'), 'UT', 1, 'Customer Service', 'Customer Service', datetime.datetime(2024, 8, 30, 2, 33, 43))
(8, 'Joshua', 'Reed', 'pamelacarlson@example.org', 'Biology', 2026, Decimal('3.60'), 'NJ', 0, 'Customer Service', 'Operations', datetime.datetime(2024, 1, 12, 0, 32, 24))
(9, 'Tammy', 'Bird', 'chris04@example.net', 'Data Science', 2025, Decimal('2.58'), 'VT', 0, 'Product Management', 'Finance', datetime.datetime(2025, 11, 17, 18, 45, 3))
(10, 'Stephanie', 'Callahan', 'campbellerika@example.com', 'Biology', 2028, Decimal('3.38'), 'RI', 1, 'Finance', 'Marketing', datetime.datetime(2025, 9, 20, 22, 53, 41))
(11, 'Kevin', 'Gilbert', 'nmccullough@example.net', 'Psychology', 2025, Decimal('3.79'), 'KS', 0, 'Supply Chain', 'Finance', datetime.datetime(2024, 6, 20, 1, 38, 18))
(12, 'Tara', 'Williams', 'wayne53@example.com', 'Mechanical Engineering', 2025, Decimal('2.76'), 'NE', 1, 'Human Resources', 'Finance', datetime.datetime(2024, 8, 9, 19, 10, 9))
(13, 'Austin', 'Kline', 'michael79@example.com', 'Marketing', 2024, Decimal('2.69'), 'HI', 1, 'Supply Chain', 'Research', datetime.datetime(2023, 12, 6, 10, 17, 15))
(14, 'Tami', 'Shelton', 'julie50@example.org', 'Business Administration', 2027, Decimal('2.76'), 'NV', 1, 'Marketing', 'Engineering', datetime.datetime(2025, 5, 30, 15, 7, 31))
(15, 'Angela', 'Wilson', 'tmcfarland@example.com', 'Data Science', 2025, Decimal('3.21'), 'MP', 1, 'Product Management', 'Operations', datetime.datetime(2025, 5, 4, 4, 30, 48))
(16, 'Jason', 'Woods', 'danielblanchard@example.org', 'Marketing', 2027, Decimal('3.65'), 'FM', 1, 'Human Resources', 'Customer Service', datetime.datetime(2025, 4, 28, 7, 11, 30))
(17, 'Jonathan', 'Miller', 'williamsrobert@example.net', 'Marketing', 2024, Decimal('2.83'), 'VA', 0, 'Supply Chain', 'Finance', datetime.datetime(2024, 10, 6, 9, 26, 57))
(18, 'Barry', 'Reed', 'robin88@example.com', 'Electrical Engineering', 2024, Decimal('3.56'), 'SC', 1, 'Marketing', 'Product Management', datetime.datetime(2025, 10, 24, 1, 2, 45))
(19, 'Maria', 'Caldwell', 'kylereyes@example.com', 'Biology', 2026, Decimal('2.96'), 'WV', 1, 'Customer Service', 'Product Management', datetime.datetime(2024, 9, 25, 3, 44, 19))
(20, 'Michelle', 'Gentry', 'mitchelleric@example.org', 'Mechanical Engineering', 2024, Decimal('3.85'), 'GU', 0, 'Operations', 'Sales', datetime.datetime(2024, 7, 9, 21, 43, 11))
(21, 'Abigail', 'Kirby', 'haydenbyrd@example.net', 'Biology', 2027, Decimal('3.06'), 'MP', 1, 'Human Resources', 'Supply Chain', datetime.datetime(2024, 4, 13, 2, 16, 43))
(22, 'Curtis', 'Brown', 'bguzman@example.org', 'Business Administration', 2026, Decimal('2.56'), 'MO', 0, 'Data Analysis', 'Research', datetime.datetime(2025, 4, 10, 5, 15, 23))
(23, 'Alice', 'Lester', 'rebecca67@example.net', 'Data Science', 2028, Decimal('3.72'), 'KS', 0, 'Supply Chain', 'Operations', datetime.datetime(2025, 6, 27, 11, 0, 19))
(24, 'Jesus', 'Davis', 'greentracey@example.com', 'Psychology', 2026, Decimal('3.26'), 'LA', 0, 'Finance', 'Finance', datetime.datetime(2024, 2, 23, 15, 20, 23))
(25, 'Seth', 'Mitchell', 'theresaallen@example.org', 'Biology', 2026, Decimal('2.64'), 'LA', 0, 'Sales', 'Marketing', datetime.datetime(2025, 10, 4, 5, 37, 57))
(26, 'Emily', 'Morris', 'matthewhinton@example.com', 'Mechanical Engineering', 2024, Decimal('2.89'), 'CA', 0, 'Research', 'Human Resources', datetime.datetime(2024, 12, 4, 1, 31, 14))
(27, 'Christopher', 'Moore', 'boothmaria@example.net', 'Data Science', 2026, Decimal('3.51'), 'FM', 1, 'Customer Service', 'Data Analysis', datetime.datetime(2023, 12, 30, 14, 15, 41))
(28, 'Henry', 'Perez', 'lauren32@example.com', 'Mechanical Engineering', 2025, Decimal('3.86'), 'CT', 1, 'Engineering', 'Finance', datetime.datetime(2024, 5, 2, 16, 36, 12))
(29, 'Alexis', 'Smith', 'eric69@example.net', 'Marketing', 2026, Decimal('3.11'), 'WY', 0, 'Research', 'Research', datetime.datetime(2025, 2, 28, 2, 2, 5))
(30, 'Jessica', 'Taylor', 'mayholly@example.com', 'Marketing', 2027, Decimal('3.05'), 'NC', 1, 'Sales', 'Software Development', datetime.datetime(2025, 6, 22, 12, 30, 16))
(31, 'Amanda', 'Thomas', 'ricematthew@example.org', 'Marketing', 2026, Decimal('3.02'), 'WV', 0, 'Operations', 'Research', datetime.datetime(2024, 8, 22, 21, 9, 1))
(32, 'Melissa', 'Miller', 'matthewjoseph@example.net', 'Finance', 2028, Decimal('3.87'), 'IA', 0, 'Engineering', 'Engineering', datetime.datetime(2025, 7, 28, 10, 7, 38))
(33, 'Lisa', 'Taylor', 'raymondgross@example.org', 'Accounting', 2025, Decimal('3.86'), 'GU', 1, 'Supply Chain', 'Marketing', datetime.datetime(2025, 3, 20, 2, 3, 55))
(34, 'Steven', 'Watts', 'crossedgar@example.net', 'Economics', 2027, Decimal('3.66'), 'ID', 0, 'Software Development', 'Data Analysis', datetime.datetime(2024, 4, 13, 17, 13, 32))
(35, 'Victor', 'Zimmerman', 'jamesprice@example.org', 'Computer Science', 2025, Decimal('2.64'), 'LA', 1, 'Data Analysis', 'Marketing', datetime.datetime(2024, 11, 4, 4, 56, 58))
(36, 'Jacqueline', 'Short', 'andrenavarro@example.net', 'Data Science', 2026, Decimal('3.68'), 'AK', 1, 'Supply Chain', 'Human Resources', datetime.datetime(2024, 7, 24, 22, 47, 52))
(37, 'Andrea', 'Preston', 'josephfreeman@example.net', 'Data Science', 2026, Decimal('3.89'), 'TX', 1, 'Engineering', 'Finance', datetime.datetime(2025, 2, 5, 15, 40, 48))
(38, 'Fernando', 'Bailey', 'carolynpadilla@example.org', 'Accounting', 2028, Decimal('2.71'), 'KS', 1, 'Software Development', 'Marketing', datetime.datetime(2025, 3, 5, 14, 11, 39))
(39, 'Amanda', 'Brown', 'hamiltonkeith@example.net', 'Psychology', 2026, Decimal('2.79'), 'KS', 0, 'Sales', 'Supply Chain', datetime.datetime(2025, 5, 4, 7, 42, 54))
(40, 'Thomas', 'Parker', 'suzanne10@example.org', 'Electrical Engineering', 2028, Decimal('2.98'), 'OK', 0, 'Finance', 'Operations', datetime.datetime(2024, 12, 22, 4, 11, 40))
(41, 'Nancy', 'Wood', 'johnroberts@example.org', 'Economics', 2024, Decimal('3.52'), 'OK', 1, 'Operations', 'Finance', datetime.datetime(2025, 5, 13, 8, 29, 27))
(42, 'Ellen', 'Williams', 'michelleroberts@example.org', 'Psychology', 2027, Decimal('3.57'), 'WA', 0, 'Sales', 'Data Analysis', datetime.datetime(2024, 9, 7, 11, 47, 42))
(43, 'Matthew', 'Bennett', 'davidsonbenjamin@example.com', 'Marketing', 2024, Decimal('2.73'), 'NE', 0, 'Supply Chain', 'Data Analysis', datetime.datetime(2025, 3, 26, 4, 36, 4))
(44, 'Eric', 'Reyes', 'clayeric@example.net', 'Biology', 2027, Decimal('3.30'), 'OK', 1, 'Supply Chain', 'Operations', datetime.datetime(2025, 9, 26, 22, 9, 11))
(45, 'Steven', 'Rodriguez', 'robertluna@example.org', 'Information Systems', 2027, Decimal('2.87'), 'KS', 1, 'Customer Service', 'Human Resources', datetime.datetime(2025, 2, 23, 5, 35, 23))
(46, 'Michelle', 'Gomez', 'jonathan12@example.org', 'Accounting', 2028, Decimal('3.18'), 'OK', 1, 'Human Resources', 'Software Development', datetime.datetime(2024, 5, 5, 10, 37, 33))
(47, 'Brittany', 'Martinez', 'trose@example.org', 'Mechanical Engineering', 2025, Decimal('3.46'), 'WI', 1, 'Research', 'Supply Chain', datetime.datetime(2024, 11, 23, 13, 38, 21))
(48, 'Catherine', 'Brock', 'phunt@example.net', 'Economics', 2028, Decimal('3.71'), 'PW', 0, 'Human Resources', 'Product Management', datetime.datetime(2024, 1, 30, 14, 13, 11))
(49, 'Heather', 'Harrison', 'karenwiley@example.com', 'Data Science', 2027, Decimal('3.31'), 'AS', 1, 'Marketing', 'Engineering', datetime.datetime(2023, 12, 17, 5, 46, 57))
(50, 'Patrick', 'Dudley', 'michelle52@example.org', 'Biology', 2024, Decimal('3.50'), 'WI', 0, 'Research', 'Research', datetime.datetime(2024, 9, 22, 10, 12, 29))
(51, 'Maurice', 'Martinez', 'james31@example.com', 'Data Science', 2026, Decimal('3.59'), 'AS', 0, 'Product Management', 'Operations', datetime.datetime(2025, 6, 22, 13, 9, 47))
(52, 'Joy', 'Atkinson', 'cindy40@example.net', 'Information Systems', 2026, Decimal('2.92'), 'FL', 0, 'Supply Chain', 'Software Development', datetime.datetime(2024, 2, 12, 3, 10, 45))
(53, 'Anna', 'Ferguson', 'matthewrodriguez@example.com', 'Computer Science', 2025, Decimal('3.99'), 'UT', 0, 'Human Resources', 'Sales', datetime.datetime(2025, 6, 14, 15, 53, 14))
(54, 'Alfred', 'Smith', 'nguyenangela@example.net', 'Psychology', 2028, Decimal('2.71'), 'NY', 1, 'Engineering', 'Marketing', datetime.datetime(2025, 4, 19, 15, 27, 29))
(55, 'Brittany', 'Velasquez', 'darrelltyler@example.org', 'Computer Science', 2024, Decimal('3.46'), 'WV', 1, 'Finance', 'Supply Chain', datetime.datetime(2024, 4, 16, 18, 53, 26))
(56, 'Douglas', 'Moon', 'watsontodd@example.com', 'Psychology', 2028, Decimal('2.59'), 'NM', 0, 'Human Resources', 'Product Management', datetime.datetime(2024, 12, 30, 10, 36, 41))
(57, 'Sheila', 'James', 'bflores@example.com', 'Biology', 2026, Decimal('2.54'), 'VI', 0, 'Product Management', 'Data Analysis', datetime.datetime(2024, 6, 4, 2, 31, 51))
(58, 'Andrew', 'Perez', 'amanda12@example.org', 'Biology', 2028, Decimal('3.72'), 'KS', 1, 'Marketing', 'Software Development', datetime.datetime(2024, 10, 18, 5, 8, 17))
(59, 'Valerie', 'White', 'juan53@example.net', 'Business Administration', 2027, Decimal('2.70'), 'LA', 1, 'Product Management', 'Data Analysis', datetime.datetime(2025, 11, 24, 16, 15, 20))
(60, 'Kevin', 'Palmer', 'kristinemartin@example.org', 'Business Administration', 2026, Decimal('3.49'), 'PA', 0, 'Supply Chain', 'Marketing', datetime.datetime(2024, 4, 14, 20, 15, 4))
(61, 'Denise', 'Anderson', 'karenjohnston@example.com', 'Marketing', 2028, Decimal('3.61'), 'IL', 1, 'Engineering', 'Research', datetime.datetime(2025, 4, 19, 14, 44, 28))
(62, 'Madison', 'Terrell', 'donaldhaney@example.net', 'Data Science', 2026, Decimal('3.75'), 'MT', 0, 'Customer Service', 'Sales', datetime.datetime(2025, 11, 4, 22, 25, 24))
(63, 'Julie', 'Hill', 'vanessapollard@example.org', 'Economics', 2028, Decimal('3.76'), 'FL', 1, 'Research', 'Customer Service', datetime.datetime(2024, 6, 2, 9, 40, 4))
(64, 'Karina', 'Glover', 'lori32@example.com', 'Biology', 2028, Decimal('3.38'), 'MH', 1, 'Product Management', 'Finance', datetime.datetime(2025, 7, 24, 1, 19, 55))
(65, 'Steven', 'Brady', 'boydscott@example.net', 'Information Systems', 2024, Decimal('2.94'), 'VI', 1, 'Operations', 'Supply Chain', datetime.datetime(2025, 9, 1, 6, 31, 58))
(66, 'Lori', 'Choi', 'conradcheyenne@example.net', 'Mechanical Engineering', 2026, Decimal('3.70'), 'SD', 1, 'Supply Chain', 'Product Management', datetime.datetime(2024, 9, 18, 0, 35, 14))
(67, 'Albert', 'Harrington', 'collinsjames@example.org', 'Data Science', 2024, Decimal('2.82'), 'FM', 0, 'Human Resources', 'Supply Chain', datetime.datetime(2025, 2, 17, 16, 11, 25))
(68, 'Patricia', 'Daniels', 'jacksonbrian@example.net', 'Accounting', 2024, Decimal('3.06'), 'SD', 0, 'Supply Chain', 'Product Management', datetime.datetime(2025, 2, 16, 10, 58, 19))
(69, 'Kathleen', 'Garcia', 'maryfuller@example.com', 'Information Systems', 2025, Decimal('3.26'), 'SD', 1, 'Operations', 'Customer Service', datetime.datetime(2024, 2, 11, 13, 54, 23))
(70, 'Matthew', 'Gibson', 'inguyen@example.net', 'Data Science', 2028, Decimal('2.89'), 'NJ', 0, 'Research', 'Data Analysis', datetime.datetime(2025, 9, 19, 8, 16, 15))
(71, 'Timothy', 'Smith', 'charles44@example.org', 'Electrical Engineering', 2026, Decimal('2.87'), 'VT', 1, 'Product Management', 'Data Analysis', datetime.datetime(2025, 11, 25, 7, 52))
(72, 'Melissa', 'King', 'cunninghamdawn@example.org', 'Business Administration', 2025, Decimal('2.77'), 'WV', 0, 'Software Development', 'Sales', datetime.datetime(2025, 4, 12, 20, 58, 31))
(73, 'Joshua', 'Schaefer', 'fernandezlori@example.net', 'Finance', 2026, Decimal('2.77'), 'IN', 1, 'Data Analysis', 'Operations', datetime.datetime(2024, 1, 29, 9, 45, 17))
(74, 'Shane', 'Davis', 'youngmichael@example.net', 'Information Systems', 2027, Decimal('3.06'), 'PW', 1, 'Research', 'Operations', datetime.datetime(2024, 10, 22, 11, 37, 37))
(75, 'Alice', 'Perez', 'xarroyo@example.org', 'Economics', 2028, Decimal('3.68'), 'IL', 0, 'Product Management', 'Data Analysis', datetime.datetime(2024, 1, 14, 21, 6, 30))
(76, 'Randall', 'Hayes', 'kmiller@example.org', 'Mechanical Engineering', 2024, Decimal('2.94'), 'MD', 0, 'Product Management', 'Software Development', datetime.datetime(2025, 10, 13, 1, 5, 59))
(77, 'Blake', 'Charles', 'kevincline@example.org', 'Computer Science', 2026, Decimal('3.60'), 'MP', 1, 'Data Analysis', 'Product Management', datetime.datetime(2024, 6, 14, 8, 36, 54))
(78, 'Timothy', 'Morgan', 'samanthaharris@example.com', 'Finance', 2024, Decimal('2.82'), 'OK', 1, 'Human Resources', 'Supply Chain', datetime.datetime(2025, 3, 8, 12, 43, 5))
(79, 'Trevor', 'Fox', 'parkergregory@example.net', 'Accounting', 2026, Decimal('3.89'), 'AS', 1, 'Customer Service', 'Operations', datetime.datetime(2025, 9, 18, 18, 1, 57))
(80, 'Jessica', 'Wright', 'warrenjennifer@example.com', 'Electrical Engineering', 2025, Decimal('3.46'), 'SD', 1, 'Finance', 'Engineering', datetime.datetime(2025, 8, 17, 13, 40, 58))
(81, 'Jennifer', 'Mcdonald', 'felicia20@example.com', 'Data Science', 2026, Decimal('3.59'), 'AZ', 0, 'Data Analysis', 'Research', datetime.datetime(2023, 12, 25, 23, 19, 38))
(82, 'Amanda', 'Hodges', 'kingjoanna@example.com', 'Marketing', 2025, Decimal('3.61'), 'PR', 1, 'Product Management', 'Finance', datetime.datetime(2023, 12, 11, 15, 33, 59))
(83, 'Michael', 'Harvey', 'amandalutz@example.com', 'Psychology', 2027, Decimal('2.53'), 'MD', 1, 'Operations', 'Software Development', datetime.datetime(2025, 5, 24, 22, 0, 49))
(84, 'Timothy', 'Vazquez', 'moorebridget@example.org', 'Electrical Engineering', 2025, Decimal('3.42'), 'TX', 0, 'Engineering', 'Operations', datetime.datetime(2025, 1, 10, 19, 59, 23))
(85, 'Jennifer', 'Hinton', 'ghernandez@example.org', 'Biology', 2027, Decimal('2.65'), 'VA', 1, 'Finance', 'Research', datetime.datetime(2024, 8, 15, 11, 46, 59))
(86, 'Jean', 'Holt', 'stephanieashley@example.org', 'Accounting', 2028, Decimal('2.64'), 'OK', 0, 'Operations', 'Supply Chain', datetime.datetime(2024, 2, 7, 0, 58, 56))
(87, 'Eric', 'Miller', 'kparks@example.org', 'Computer Science', 2025, Decimal('3.13'), 'AR', 1, 'Sales', 'Supply Chain', datetime.datetime(2024, 8, 23, 13, 56, 26))
(88, 'April', 'Robinson', 'michael43@example.net', 'Accounting', 2027, Decimal('2.95'), 'MA', 1, 'Supply Chain', 'Human Resources', datetime.datetime(2025, 5, 5, 13, 16, 5))
(89, 'Susan', 'Payne', 'danielmcintyre@example.com', 'Psychology', 2028, Decimal('3.09'), 'OK', 1, 'Supply Chain', 'Customer Service', datetime.datetime(2025, 5, 1, 10, 29, 14))
(90, 'Mark', 'Hoover', 'morganthomas@example.net', 'Economics', 2028, Decimal('3.87'), 'GA', 0, 'Sales', 'Marketing', datetime.datetime(2025, 2, 14, 9, 27, 16))
(91, 'Jeremy', 'Hicks', 'gonzalezjames@example.net', 'Marketing', 2028, Decimal('3.28'), 'RI', 0, 'Customer Service', 'Software Development', datetime.datetime(2024, 11, 19, 10, 47, 20))
(92, 'Brandy', 'Bishop', 'zwhite@example.net', 'Electrical Engineering', 2024, Decimal('2.73'), 'NJ', 0, 'Operations', 'Engineering', datetime.datetime(2025, 7, 8, 3, 32, 26))
(93, 'Jesus', 'Boyd', 'richardsharp@example.org', 'Mechanical Engineering', 2024, Decimal('2.73'), 'VI', 1, 'Engineering', 'Research', datetime.datetime(2024, 2, 9, 15, 50, 34))
(94, 'Christopher', 'Vasquez', 'kwilson@example.net', 'Accounting', 2027, Decimal('3.32'), 'PW', 1, 'Customer Service', 'Finance', datetime.datetime(2024, 4, 29, 6, 7, 18))
(95, 'Rose', 'Mckinney', 'qdillon@example.net', 'Economics', 2028, Decimal('3.91'), 'MO', 0, 'Product Management', 'Research', datetime.datetime(2024, 6, 27, 9, 45, 44))
(96, 'Christy', 'Ryan', 'thomas21@example.net', 'Mechanical Engineering', 2027, Decimal('3.31'), 'WA', 0, 'Data Analysis', 'Human Resources', datetime.datetime(2024, 8, 30, 17, 45, 58))
(97, 'Kylie', 'Rodriguez', 'kelsey63@example.net', 'Biology', 2026, Decimal('2.52'), 'OR', 1, 'Supply Chain', 'Human Resources', datetime.datetime(2025, 2, 19, 14, 50, 53))
(98, 'Andrea', 'Watts', 'joseph02@example.com', 'Biology', 2025, Decimal('3.41'), 'ND', 0, 'Supply Chain', 'Supply Chain', datetime.datetime(2025, 7, 7, 18, 59, 39))
(99, 'Sean', 'Garcia', 'whitewilliam@example.net', 'Economics', 2026, Decimal('3.04'), 'DC', 0, 'Product Management', 'Operations', datetime.datetime(2025, 6, 5, 21, 3, 44))
(100, 'Joe', 'Hebert', 'jasonbond@example.net', 'Psychology', 2024, Decimal('3.87'), 'MI', 0, 'Finance', 'Supply Chain', datetime.datetime(2024, 5, 20, 2, 11, 41))
(101, 'Keith', 'Avila', 'whicks@example.org', 'Electrical Engineering', 2027, Decimal('3.18'), 'IN', 1, 'Research', 'Data Analysis', datetime.datetime(2024, 7, 26, 16, 4, 40))
(102, 'John', 'Williams', 'wmurphy@example.org', 'Accounting', 2026, Decimal('3.37'), 'ND', 1, 'Marketing', 'Operations', datetime.datetime(2025, 5, 22, 2, 19, 10))
(103, 'Pamela', 'Cruz', 'jessica04@example.com', 'Finance', 2027, Decimal('3.68'), 'RI', 1, 'Engineering', 'Product Management', datetime.datetime(2024, 11, 28, 18, 20, 41))
(104, 'Kristen', 'Rivera', 'lynn29@example.org', 'Marketing', 2025, Decimal('3.30'), 'RI', 0, 'Human Resources', 'Supply Chain', datetime.datetime(2025, 6, 7, 15, 55, 42))
(105, 'Sarah', 'Hernandez', 'lovebrendan@example.com', 'Information Systems', 2026, Decimal('3.36'), 'CO', 0, 'Software Development', 'Software Development', datetime.datetime(2024, 8, 15, 20, 32, 18))
(106, 'Heidi', 'Moore', 'zmiller@example.com', 'Marketing', 2028, Decimal('3.82'), 'FM', 1, 'Sales', 'Operations', datetime.datetime(2025, 3, 17, 4, 6, 56))
(107, 'Donna', 'James', 'sanchezkristen@example.com', 'Marketing', 2027, Decimal('3.10'), 'SC', 0, 'Sales', 'Supply Chain', datetime.datetime(2025, 2, 19, 14, 49, 51))
(108, 'Richard', 'Mays', 'greerchristopher@example.net', 'Economics', 2024, Decimal('3.94'), 'FM', 0, 'Engineering', 'Marketing', datetime.datetime(2024, 11, 2, 16, 27, 17))
(109, 'James', 'Montgomery', 'barnesjennifer@example.com', 'Biology', 2027, Decimal('3.84'), 'UT', 1, 'Sales', 'Human Resources', datetime.datetime(2024, 5, 30, 5, 12, 30))
(110, 'Joseph', 'Mendez', 'ashley49@example.org', 'Biology', 2026, Decimal('3.02'), 'FL', 0, 'Software Development', 'Product Management', datetime.datetime(2025, 11, 11, 11, 37, 22))
(111, 'Grant', 'Garcia', 'maria56@example.com', 'Economics', 2026, Decimal('2.57'), 'ND', 0, 'Research', 'Product Management', datetime.datetime(2025, 3, 3, 3, 33, 3))
(112, 'Jeffrey', 'Gilbert', 'harrischarles@example.org', 'Marketing', 2028, Decimal('3.91'), 'PW', 0, 'Marketing', 'Operations', datetime.datetime(2024, 10, 30, 11, 43, 3))
(113, 'Keith', 'Lopez', 'russellmarissa@example.com', 'Data Science', 2025, Decimal('3.54'), 'MH', 0, 'Software Development', 'Data Analysis', datetime.datetime(2025, 3, 19, 21, 59, 8))

Use Case 1

In [43]:
sql_file = "../schema/use_case_1.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)
    
print("Use Case executed")

SQL file loaded

,position_id,title,location,required_experience,work_mode,company_name
0,129,"Engineer, manufacturing systems",MA,3 years,On-site,"Perry, Peterson and Brown"

Use Case executed

Use Case 2

In [44]:
sql_file = "../schema/use_case_2.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)
    
print("Use Case executed")

SQL file loaded

,position_id,title,location,required_experience,company_name
0,66,Health service manager,MA,3 years,Scott-Harris
1,99,Secondary school teacher,IL,4 years,Wagner Inc
2,120,Forensic psychologist,PR,2 years,Walker PLC
3,128,Insurance risk surveyor,NM,5 years,"Lee, Harris and Dorsey"
4,140,Chemical engineer,WA,5 years,Compton PLC
5,174,"Engineer, production",NM,0 years,Ray-Mitchell
6,71,Manufacturing systems engineer,CA,0 years,"Hawkins, Garcia and Terry"
7,84,Newspaper journalist,MP,1 years,"Gutierrez, Arroyo and Melton"
8,92,Archivist,PW,2 years,"Moore, Mejia and Little"
9,132,Archaeologist,WA,5 years,"Adams, Bryant and Brown"
10,32,"Designer, multimedia",FL,0 years,Calderon PLC

Use Case executed

Use Case 3

In [52]:
sql_file = "../schema/use_case_3.sql"

cur.execute("DROP PROCEDURE IF EXISTS Apply_For_Position")

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

db.commit()
print("Use Case executed")

SQL file loaded
Use Case executed

Use Case 4

In [49]:
sql_file = "../schema/use_case_4.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)
    
print("Use Case executed")

SQL file loaded

   num_applications
0                12

Use Case executed

Use Case 5

In [50]:
sql_file = "../schema/use_case_5.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)
    
print("Use Case executed")

SQL file loaded

     gpa first_name last_name
0   3.92       Jodi    Dunlap
1   3.87     Amanda   Goodwin
2   3.86      Henry     Perez
3   3.80       Mark      Byrd
4   3.59    Maurice  Martinez
5   3.15     Donald     Weiss
6   3.06       Mary       Lee
7   2.95      April  Robinson
8   2.80      Renee   Lambert
9   2.76       Tami   Shelton
10  2.57    Jeffrey  Thompson
11  2.54     Marisa   Sanchez

Use Case executed

Use Case 6

In [53]:
sql_file = "../schema/use_case_6.sql"

cur.execute("DROP TRIGGER IF EXISTS Notify_Matching_Majors;")

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)
    
print("Use Case executed")

SQL file loaded
Use Case executed

Testing the trigger

In [54]:
sql_file = "../schema/use_case_6_test.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

position_id = cur.lastrowid

cur.execute("""
    SELECT u.first_name, u.last_name, u.major, a.notes
    FROM Application a
    JOIN Users u ON a.user_id = u.user_id
    WHERE a.position_id = %s
""", (position_id,))

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)

SQL file loaded

,first_name,last_name,major,notes
0,Joshua,Reed,Biology,Joshua! A new position is available: Biology R...
1,Stephanie,Callahan,Biology,Stephanie! A new position is available: Biolog...
2,Maria,Caldwell,Biology,Maria! A new position is available: Biology Re...
3,Abigail,Kirby,Biology,Abigail! A new position is available: Biology ...
4,Seth,Mitchell,Biology,Seth! A new position is available: Biology Res...
5,Eric,Reyes,Biology,Eric! A new position is available: Biology Res...
6,Patrick,Dudley,Biology,Patrick! A new position is available: Biology ...
7,Sheila,James,Biology,Sheila! A new position is available: Biology R...
8,Andrew,Perez,Biology,Andrew! A new position is available: Biology R...
9,Karina,Glover,Biology,Karina! A new position is available: Biology R...
10,Jennifer,Hinton,Biology,Jennifer! A new position is available: Biology...
11,Kylie,Rodriguez,Biology,Kylie! A new position is available: Biology Re...
12,Andrea,Watts,Biology,Andrea! A new position is available: Biology R...
13,James,Montgomery,Biology,James! A new position is available: Biology Re...
14,Joseph,Mendez,Biology,Joseph! A new position is available: Biology R...
15,Thomas,Anderson,Biology,Thomas! A new position is available: Biology R...
16,Paula,Juarez,Biology,Paula! A new position is available: Biology Re...
17,Wendy,Valdez,Biology,Wendy! A new position is available: Biology Re...
18,Sydney,Taylor,Biology,Sydney! A new position is available: Biology R...
19,Kathryn,Terry,Biology,Kathryn! A new position is available: Biology ...

Close cursor and database

In [36]:
cur.close()
db.close()
print("All Use Cases executed successfully.")

All Use Cases executed successfully.