# Example Use Queries

Import libraries.

In [44]:
import mysql.connector
from dotenv import load_dotenv
import os

Load enviornment variables.

In [45]:
load_dotenv()

HOST = os.getenv("MYSQL_HOST", "localhost")
USER = os.getenv("MYSQL_USER", "root")
PASSWORD = os.getenv("MYSQL_PASSWORD")

Connect to mysql server

In [46]:
db = mysql.connector.connect(
    host=HOST,
    user=USER,              
    password=PASSWORD
)
cur = db.cursor()
print("Connected!")

Connected!

Show Tables and Data

In [ ]:
cur.execute("USE HuskiesJob")
cur.execute("SELECT * FROM Users")

results = cur.fetchall()
for row in results:
    print(row)

[(1, 'Dustin', 'Boyd', 'matthew40@example.org', 'Computer Science', 2028, Decimal('3.38'), 'Hoodville', 1, 'Sales', 'Sales', datetime.datetime(2025, 11, 26, 17, 20, 48)), (2, 'Michael', 'Mendez', 'jay05@example.org', 'Electrical Engineering', 2024, Decimal('2.61'), 'New Melissa', 1, 'Data Analysis', 'Operations', datetime.datetime(2025, 10, 3, 19, 3, 42)), (3, 'Betty', 'Watkins', 'nwashington@example.com', 'Economics', 2025, Decimal('3.58'), 'Lake Anna', 0, 'Sales', 'Operations', datetime.datetime(2025, 2, 9, 19, 46, 35)), (4, 'Elizabeth', 'Hunt', 'xmcmahon@example.net', 'Data Science', 2024, Decimal('3.91'), 'Nicholaschester', 0, 'Marketing', 'Data Analysis', datetime.datetime(2025, 9, 26, 4, 35, 33)), (5, 'Stacy', 'Vang', 'kayla09@example.net', 'Finance', 2027, Decimal('3.23'), 'Ryanbury', 1, 'Product Management', 'Data Analysis', datetime.datetime(2025, 9, 4, 2, 52, 35)), (6, 'Kelly', 'Kramer', 'allison78@example.org', 'Marketing', 2028, Decimal('3.65'), 'East Jeffreyland', 1, 'Human Resources', 'Software Development', datetime.datetime(2024, 7, 9, 10, 6, 56)), (7, 'Joshua', 'Dillon', 'chentyrone@example.com', 'Computer Science', 2028, Decimal('3.54'), 'Harrisside', 1, 'Operations', 'Software Development', datetime.datetime(2025, 8, 27, 22, 37, 56)), (8, 'David', 'Mullen', 'joneskimberly@example.com', 'Marketing', 2026, Decimal('3.72'), 'Charlesfort', 0, 'Operations', 'Data Analysis', datetime.datetime(2024, 6, 3, 3, 25, 4)), (9, 'James', 'Rodriguez', 'sarah48@example.com', 'Biology', 2024, Decimal('2.63'), 'South Annette', 0, 'Data Analysis', 'Customer Service', datetime.datetime(2025, 5, 20, 14, 54, 9)), (10, 'Jennifer', 'Thomas', 'linda20@example.org', 'Economics', 2025, Decimal('2.80'), 'Kathrynville', 0, 'Sales', 'Data Analysis', datetime.datetime(2024, 5, 6, 19, 32, 1)), (11, 'Rachel', 'Thomas', 'deanregina@example.org', 'Biology', 2026, Decimal('3.04'), 'Lopezstad', 1, 'Operations', 'Data Analysis', datetime.datetime(2025, 6, 1, 12, 33, 26)), (12, 'Madeline', 'Reed', 'cannondavid@example.org', 'Marketing', 2027, Decimal('3.44'), 'South Julieland', 0, 'Product Management', 'Data Analysis', datetime.datetime(2024, 3, 26, 17, 56, 48)), (13, 'David', 'Floyd', 'sarah88@example.com', 'Business Administration', 2027, Decimal('3.33'), 'Margarethaven', 1, 'Product Management', 'Product Management', datetime.datetime(2024, 2, 19, 23, 33, 22)), (14, 'Anthony', 'House', 'vbarton@example.com', 'Biology', 2024, Decimal('3.49'), 'Lake Cody', 0, 'Customer Service', 'Product Management', datetime.datetime(2024, 5, 21, 0, 34, 56)), (15, 'Jason', 'Berry', 'aaron34@example.net', 'Economics', 2025, Decimal('2.91'), 'Davidstad', 0, 'Marketing', 'Product Management', datetime.datetime(2024, 9, 18, 0, 4, 33)), (16, 'Jill', 'Ellison', 'kimberly26@example.org', 'Business Administration', 2027, Decimal('3.57'), 'South Gregory', 1, 'Customer Service', 'Data Analysis', datetime.datetime(2024, 4, 16, 16, 27, 14)), (17, 'Lori', 'Mclean', 'walshjeffrey@example.net', 'Accounting', 2027, Decimal('2.78'), 'Williambury', 1, 'Engineering', 'Software Development', datetime.datetime(2024, 8, 6, 22, 35, 51)), (18, 'Edward', 'Rhodes', 'stacey84@example.org', 'Mechanical Engineering', 2027, Decimal('3.56'), 'North Nathanton', 0, 'Software Development', 'Marketing', datetime.datetime(2024, 1, 17, 9, 46, 22)), (19, 'Nicole', 'Duran', 'smithalicia@example.org', 'Marketing', 2028, Decimal('2.54'), 'Hernandezport', 1, 'Software Development', 'Finance', datetime.datetime(2025, 10, 25, 4, 6, 49)), (20, 'Tyler', 'Melton', 'jenniferholloway@example.net', 'Finance', 2025, Decimal('2.73'), 'Evansberg', 1, 'Marketing', 'Software Development', datetime.datetime(2024, 12, 23, 10, 48)), (21, 'Cynthia', 'Copeland', 'leonardkathryn@example.org', 'Business Administration', 2026, Decimal('3.61'), 'Williamsfurt', 1, 'Human Resources', 'Finance', datetime.datetime(2024, 4, 1, 12, 0, 21)), (22, 'Mia', 'Sanders', 'annetteharper@example.org', 'Computer Science', 2025, Decimal('3.77'), 'West Elizabethland', 1, 'Software Development', 'Data Analysis', datetime.datetime(2025, 2, 6, 20, 22, 4)), (23, 'Marcus', 'Brown', 'laurie71@example.org', 'Psychology', 2026, Decimal('3.41'), 'Schultzville', 0, 'Data Analysis', 'Operations', datetime.datetime(2025, 6, 27, 20, 41, 6)), (24, 'Jacob', 'James', 'wallfrancisco@example.com', 'Business Administration', 2025, Decimal('3.30'), 'New Jason', 0, 'Product Management', 'Customer Service', datetime.datetime(2024, 4, 20, 11, 47, 54)), (25, 'Robert', 'Blankenship', 'onealkelly@example.org', 'Marketing', 2026, Decimal('3.28'), 'Sharpberg', 1, 'Customer Service', 'Operations', datetime.datetime(2025, 6, 15, 1, 5, 11)), (26, 'Jamie', 'Suarez', 'chad79@example.org', 'Computer Science', 2025, Decimal('2.53'), 'West Brian', 1, 'Operations', 'Data Analysis', datetime.datetime(2025, 2, 8, 5, 54, 56)), (27, 'Donald', 'Martinez', 'robert53@example.net', 'Mechanical Engineering', 2025, Decimal('3.30'), 'Blackborough', 1, 'Sales', 'Marketing', datetime.datetime(2024, 8, 26, 9, 33, 37)), (28, 'Patrick', 'Acosta', 'smithemily@example.org', 'Accounting', 2028, Decimal('2.72'), 'North Christinaview', 0, 'Operations', 'Human Resources', datetime.datetime(2025, 2, 12, 15, 15, 47)), (29, 'Catherine', 'Rojas', 'mitchellmary@example.com', 'Biology', 2028, Decimal('3.35'), 'Lloydbury', 1, 'Human Resources', 'Human Resources', datetime.datetime(2025, 3, 4, 23, 46, 23)), (30, 'Malik', 'Lozano', 'jefferybaird@example.com', 'Information Systems', 2028, Decimal('2.55'), 'Loganfurt', 0, 'Human Resources', 'Finance', datetime.datetime(2025, 8, 15, 19, 23, 1)), (31, 'Carrie', 'Lane', 'stevengonzales@example.org', 'Marketing', 2027, Decimal('3.58'), 'North Tinachester', 0, 'Customer Service', 'Marketing', datetime.datetime(2025, 9, 28, 2, 25, 21)), (32, 'Juan', 'Brooks', 'egoodwin@example.com', 'Data Science', 2024, Decimal('3.06'), 'Melissamouth', 1, 'Engineering', 'Software Development', datetime.datetime(2025, 9, 5, 19, 2, 27)), (33, 'Joshua', 'Vasquez', 'baileychristopher@example.com', 'Economics', 2028, Decimal('3.87'), 'Castilloview', 1, 'Customer Service', 'Engineering', datetime.datetime(2024, 4, 10, 0, 40, 48)), (34, 'Kathleen', 'Acosta', 'karilevy@example.com', 'Accounting', 2024, Decimal('3.53'), 'Annetteshire', 0, 'Customer Service', 'Marketing', datetime.datetime(2025, 3, 23, 18, 14, 25)), (35, 'Veronica', 'Martin', 'jeremiahgonzalez@example.org', 'Finance', 2026, Decimal('2.80'), 'North Branditown', 0, 'Product Management', 'Sales', datetime.datetime(2025, 4, 30, 18, 24, 34)), (36, 'Elizabeth', 'King', 'ukidd@example.com', 'Data Science', 2024, Decimal('3.37'), 'North Suzanneshire', 1, 'Data Analysis', 'Engineering', datetime.datetime(2024, 1, 5, 14, 15)), (37, 'Briana', 'Williams', 'amanda89@example.org', 'Finance', 2026, Decimal('3.97'), 'Kingborough', 1, 'Operations', 'Customer Service', datetime.datetime(2024, 10, 7, 23, 24, 27)), (38, 'Patricia', 'Allison', 'angelagriffin@example.net', 'Psychology', 2028, Decimal('3.40'), 'West Steven', 1, 'Human Resources', 'Sales', datetime.datetime(2025, 11, 22, 21, 3, 7)), (39, 'Vincent', 'Thompson', 'huberdebra@example.org', 'Mechanical Engineering', 2024, Decimal('3.24'), 'Ianfort', 0, 'Marketing', 'Sales', datetime.datetime(2025, 3, 28, 9, 20, 33)), (40, 'Sally', 'Gomez', 'kbrooks@example.com', 'Accounting', 2028, Decimal('3.09'), 'Johnstad', 0, 'Marketing', 'Human Resources', datetime.datetime(2025, 11, 8, 16, 6, 17)), (41, 'Lacey', 'Johnson', 'framirez@example.com', 'Biology', 2026, Decimal('3.04'), 'Petersonton', 1, 'Product Management', 'Product Management', datetime.datetime(2024, 10, 25, 9, 4, 1)), (42, 'Cassandra', 'Soto', 'ymoore@example.net', 'Information Systems', 2027, Decimal('3.12'), 'Brianborough', 0, 'Sales', 'Engineering', datetime.datetime(2025, 3, 22, 7, 37, 19)), (43, 'Laura', 'Banks', 'samantha34@example.org', 'Business Administration', 2028, Decimal('3.85'), 'Thompsonland', 1, 'Software Development', 'Data Analysis', datetime.datetime(2025, 6, 28, 12, 17, 27)), (44, 'Rhonda', 'Simon', 'chapmanjohn@example.org', 'Accounting', 2024, Decimal('3.70'), 'New Ericport', 1, 'Data Analysis', 'Human Resources', datetime.datetime(2025, 9, 26, 22, 31, 39)), (45, 'Annette', 'Harrison', 'johnsonchristopher@example.com', 'Business Administration', 2028, Decimal('2.84'), 'East Michael', 0, 'Software Development', 'Data Analysis', datetime.datetime(2024, 4, 7, 14, 28, 12)), (46, 'Bradley', 'Swanson', 'stacey39@example.net', 'Mechanical Engineering', 2025, Decimal('2.70'), 'Lake Michael', 1, 'Human Resources', 'Human Resources', datetime.datetime(2024, 2, 1, 14, 57, 49)), (47, 'Whitney', 'Gill', 'wpatterson@example.net', 'Data Science', 2026, Decimal('2.91'), 'New Anthony', 1, 'Customer Service', 'Engineering', datetime.datetime(2025, 6, 16, 8, 9, 53)), (48, 'Amy', 'Delgado', 'annafranklin@example.org', 'Information Systems', 2028, Decimal('3.42'), 'Millerton', 1, 'Marketing', 'Marketing', datetime.datetime(2024, 8, 5, 17, 30, 41)), (49, 'Frank', 'Green', 'antoniolynn@example.net', 'Psychology', 2028, Decimal('3.82'), 'North Reneeview', 0, 'Operations', 'Data Analysis', datetime.datetime(2025, 4, 11, 12, 23, 59)), (50, 'Cynthia', 'Holland', 'ucastaneda@example.com', 'Computer Science', 2024, Decimal('3.87'), 'West Jared', 0, 'Product Management', 'Finance', datetime.datetime(2025, 1, 22, 14, 48, 18))]