# Example Use Queries

Import libraries.

In [28]:
import mysql.connector
from dotenv import load_dotenv
import os
import pandas as pd

Load enviornment variables.

In [29]:
load_dotenv()

HOST = os.getenv("MYSQL_HOST", "localhost")
USER = os.getenv("MYSQL_USER", "root")
PASSWORD = os.getenv("MYSQL_PASSWORD")

Connect to mysql server

In [30]:
db = mysql.connector.connect(
    host=HOST,
    user=USER,              
    password=PASSWORD
)
cur = db.cursor()
print("Connected!")
cur.execute("USE HuskiesJob")
cur.execute("SELECT * FROM Users")
cur.fetchall()

Connected!

[(1,
  'Lori',
  'Curry',
  'loganjackson@example.org',
  'Electrical Engineering',
  2025,
  Decimal('2.57'),
  'WV',
  1,
  'Engineering',
  'Supply Chain',
  datetime.datetime(2024, 1, 31, 20, 45, 51)),
 (2,
  'Lisa',
  'Davenport',
  'jason10@example.net',
  'Electrical Engineering',
  2026,
  Decimal('3.69'),
  'MD',
  0,
  'Marketing',
  'Marketing',
  datetime.datetime(2024, 2, 14, 0, 52, 8)),
 (3,
  'Michael',
  'Bell',
  'kimberlybean@example.net',
  'Economics',
  2026,
  Decimal('2.52'),
  'GU',
  1,
  'Software Development',
  'Product Management',
  datetime.datetime(2025, 4, 12, 17, 39, 54)),
 (4,
  'Charles',
  'Hebert',
  'waltersdanny@example.com',
  'Electrical Engineering',
  2027,
  Decimal('2.54'),
  'AK',
  1,
  'Sales',
  'Operations',
  datetime.datetime(2025, 3, 12, 10, 6, 44)),
 (5,
  'Angela',
  'Wolfe',
  'lwilliams@example.net',
  'Biology',
  2028,
  Decimal('3.54'),
  'MN',
  1,
  'Human Resources',
  'Data Analysis',
  datetime.datetime(2025, 7, 25, 14, 22, 21)),
 (6,
  'Olivia',
  'Charles',
  'znelson@example.org',
  'Accounting',
  2027,
  Decimal('3.09'),
  'WI',
  0,
  'Customer Service',
  'Human Resources',
  datetime.datetime(2025, 8, 13, 18, 17, 31)),
 (7,
  'Dylan',
  'Dennis',
  'mariastevens@example.org',
  'Marketing',
  2028,
  Decimal('3.22'),
  'CT',
  0,
  'Operations',
  'Sales',
  datetime.datetime(2025, 8, 1, 13, 9, 36)),
 (8,
  'Kayla',
  'Perry',
  'pamela56@example.com',
  'Marketing',
  2026,
  Decimal('2.90'),
  'MS',
  1,
  'Human Resources',
  'Data Analysis',
  datetime.datetime(2025, 2, 16, 15, 15, 19)),
 (9,
  'Steven',
  'Hoover',
  'hammondchristopher@example.org',
  'Mechanical Engineering',
  2024,
  Decimal('3.98'),
  'DE',
  1,
  'Engineering',
  'Operations',
  datetime.datetime(2024, 8, 2, 7, 30, 5)),
 (10,
  'Frank',
  'Castillo',
  'ccastillo@example.com',
  'Finance',
  2027,
  Decimal('3.72'),
  'MS',
  0,
  'Research',
  'Operations',
  datetime.datetime(2024, 3, 4, 17, 28, 27)),
 (11,
  'Christina',
  'Edwards',
  'jason00@example.net',
  'Computer Science',
  2027,
  Decimal('2.50'),
  'PR',
  1,
  'Engineering',
  'Supply Chain',
  datetime.datetime(2025, 8, 5, 10, 19, 39)),
 (12,
  'Elizabeth',
  'Warner',
  'erobinson@example.net',
  'Biology',
  2026,
  Decimal('2.87'),
  'AL',
  1,
  'Finance',
  'Marketing',
  datetime.datetime(2024, 9, 1, 22, 22, 24)),
 (13,
  'Matthew',
  'Ballard',
  'tinaellis@example.com',
  'Electrical Engineering',
  2027,
  Decimal('3.34'),
  'MN',
  0,
  'Research',
  'Sales',
  datetime.datetime(2024, 10, 24, 19, 58, 28)),
 (14,
  'Taylor',
  'Burton',
  'kellerjanice@example.com',
  'Marketing',
  2024,
  Decimal('3.20'),
  'DE',
  0,
  'Engineering',
  'Human Resources',
  datetime.datetime(2024, 10, 19, 10, 54, 52)),
 (15,
  'Luis',
  'Lee',
  'williamellis@example.net',
  'Finance',
  2027,
  Decimal('3.05'),
  'DE',
  0,
  'Engineering',
  'Supply Chain',
  datetime.datetime(2023, 12, 25, 16, 15, 53)),
 (16,
  'Tamara',
  'Munoz',
  'sancheztiffany@example.org',
  'Data Science',
  2027,
  Decimal('2.86'),
  'LA',
  0,
  'Sales',
  'Operations',
  datetime.datetime(2024, 3, 23, 13, 16, 26)),
 (17,
  'Matthew',
  'Sullivan',
  'aguirrecrystal@example.net',
  'Mechanical Engineering',
  2028,
  Decimal('2.60'),
  'GU',
  0,
  'Customer Service',
  'Research',
  datetime.datetime(2025, 5, 29, 13, 55, 20)),
 (18,
  'Donna',
  'Livingston',
  'virginia69@example.com',
  'Computer Science',
  2028,
  Decimal('2.64'),
  'MS',
  1,
  'Engineering',
  'Research',
  datetime.datetime(2024, 2, 24, 13, 51, 58)),
 (19,
  'Diana',
  'Daugherty',
  'kyle71@example.net',
  'Electrical Engineering',
  2025,
  Decimal('3.63'),
  'FL',
  1,
  'Sales',
  'Human Resources',
  datetime.datetime(2024, 4, 24, 19, 0, 54)),
 (20,
  'Christian',
  'Lawson',
  'williamschristopher@example.net',
  'Electrical Engineering',
  2028,
  Decimal('2.52'),
  'AL',
  0,
  'Supply Chain',
  'Engineering',
  datetime.datetime(2025, 2, 2, 23, 10, 3)),
 (21,
  'Steven',
  'Hoffman',
  'lewisdorothy@example.org',
  'Economics',
  2028,
  Decimal('3.80'),
  'PW',
  0,
  'Human Resources',
  'Supply Chain',
  datetime.datetime(2024, 12, 28, 2, 53)),
 (22,
  'Tiffany',
  'Clark',
  'shawnwade@example.org',
  'Data Science',
  2024,
  Decimal('2.78'),
  'IN',
  0,
  'Software Development',
  'Engineering',
  datetime.datetime(2024, 12, 20, 14, 10)),
 (23,
  'James',
  'Wiley',
  'anitalowe@example.com',
  'Business Administration',
  2028,
  Decimal('3.52'),
  'SD',
  1,
  'Engineering',
  'Sales',
  datetime.datetime(2024, 8, 15, 22, 51, 4)),
 (24,
  'Kimberly',
  'Chaney',
  'floresisabel@example.org',
  'Finance',
  2025,
  Decimal('2.87'),
  'CO',
  1,
  'Sales',
  'Engineering',
  datetime.datetime(2024, 4, 22, 0, 14, 51)),
 (25,
  'Daniel',
  'Walters',
  'woodjoseph@example.org',
  'Biology',
  2025,
  Decimal('3.59'),
  'VI',
  0,
  'Data Analysis',
  'Finance',
  datetime.datetime(2024, 2, 11, 12, 42, 1)),
 (26,
  'Karen',
  'Ramos',
  'davidcoleman@example.com',
  'Finance',
  2024,
  Decimal('3.54'),
  'CT',
  0,
  'Software Development',
  'Customer Service',
  datetime.datetime(2024, 10, 2, 13, 38, 6)),
 (27,
  'Alfred',
  'Smith',
  'spencejonathan@example.org',
  'Electrical Engineering',
  2025,
  Decimal('3.70'),
  'OR',
  1,
  'Customer Service',
  'Product Management',
  datetime.datetime(2025, 9, 5, 20, 10, 38)),
 (28,
  'Erica',
  'Day',
  'bautistajulia@example.com',
  'Accounting',
  2025,
  Decimal('3.02'),
  'MH',
  1,
  'Engineering',
  'Sales',
  datetime.datetime(2025, 1, 25, 15, 50)),
 (29,
  'Seth',
  'Avery',
  'knelson@example.com',
  'Computer Science',
  2026,
  Decimal('3.28'),
  'GA',
  0,
  'Research',
  'Product Management',
  datetime.datetime(2025, 8, 11, 6, 22, 50)),
 (30,
  'Michele',
  'Robbins',
  'pking@example.net',
  'Data Science',
  2026,
  Decimal('2.85'),
  'AS',
  1,
  'Supply Chain',
  'Human Resources',
  datetime.datetime(2024, 5, 31, 11, 18, 5)),
 (31,
  'Ashley',
  'Barry',
  'keithcook@example.com',
  'Data Science',
  2025,
  Decimal('2.66'),
  'AK',
  1,
  'Supply Chain',
  'Operations',
  datetime.datetime(2025, 9, 14, 7, 59, 27)),
 (32,
  'Steven',
  'Hutchinson',
  'wolfbradley@example.org',
  'Economics',
  2027,
  Decimal('2.65'),
  'VT',
  0,
  'Marketing',
  'Software Development',
  datetime.datetime(2023, 12, 3, 18, 30, 26)),
 (33,
  'Donald',
  'Schmidt',
  'ochristensen@example.net',
  'Accounting',
  2028,
  Decimal('3.26'),
  'OK',
  1,
  'Research',
  'Research',
  datetime.datetime(2025, 10, 13, 23, 44, 37)),
 (34,
  'Kenneth',
  'Williams',
  'bartonelizabeth@example.net',
  'Economics',
  2025,
  Decimal('3.49'),
  'AK',
  1,
  'Finance',
  'Engineering',
  datetime.datetime(2025, 3, 23, 5, 39, 31)),
 (35,
  'Caitlin',
  'Flores',
  'vhendricks@example.net',
  'Electrical Engineering',
  2028,
  Decimal('3.22'),
  'PA',
  0,
  'Product Management',
  'Data Analysis',
  datetime.datetime(2024, 8, 25, 22, 0, 33)),
 (36,
  'Robert',
  'Campbell',
  'tedwards@example.com',
  'Business Administration',
  2025,
  Decimal('3.24'),
  'NV',
  0,
  'Finance',
  'Research',
  datetime.datetime(2024, 4, 16, 9, 52, 31)),
 (37,
  'Kim',
  'Jackson',
  'harryortega@example.com',
  'Biology',
  2028,
  Decimal('3.76'),
  'CT',
  1,
  'Marketing',
  'Supply Chain',
  datetime.datetime(2024, 12, 4, 7, 25, 56)),
 (38,
  'Richard',
  'Navarro',
  'wdowns@example.net',
  'Computer Science',
  2026,
  Decimal('3.54'),
  'NY',
  0,
  'Finance',
  'Marketing',
  datetime.datetime(2024, 12, 9, 11, 1, 5)),
 (39,
  'Danny',
  'Taylor',
  'wgarza@example.net',
  'Economics',
  2028,
  Decimal('3.09'),
  'AZ',
  0,
  'Finance',
  'Engineering',
  datetime.datetime(2024, 11, 14, 19, 39, 34)),
 (40,
  'Adam',
  'Garcia',
  'alvarezedward@example.net',
  'Economics',
  2024,
  Decimal('3.14'),
  'PA',
  1,
  'Finance',
  'Engineering',
  datetime.datetime(2024, 8, 28, 4, 0, 43)),
 (41,
  'Jason',
  'Martinez',
  'sean12@example.org',
  'Business Administration',
  2027,
  Decimal('2.72'),
  'MN',
  0,
  'Customer Service',
  'Human Resources',
  datetime.datetime(2025, 3, 7, 1, 59, 46)),
 (42,
  'Rachael',
  'Lopez',
  'fbradley@example.net',
  'Business Administration',
  2028,
  Decimal('3.41'),
  'MO',
  1,
  'Supply Chain',
  'Supply Chain',
  datetime.datetime(2025, 7, 24, 17, 14, 16)),
 (43,
  'Brian',
  'Gardner',
  'spencerbrittany@example.net',
  'Business Administration',
  2025,
  Decimal('2.69'),
  'OK',
  1,
  'Data Analysis',
  'Research',
  datetime.datetime(2024, 10, 18, 12, 46, 56)),
 (44,
  'Gerald',
  'Wong',
  'catherine44@example.com',
  'Biology',
  2027,
  Decimal('3.45'),
  'OH',
  0,
  'Software Development',
  'Sales',
  datetime.datetime(2023, 12, 23, 1, 3, 16)),
 (45,
  'Todd',
  'Holmes',
  'lindsayramos@example.com',
  'Data Science',
  2024,
  Decimal('2.91'),
  'NY',
  1,
  'Marketing',
  'Engineering',
  datetime.datetime(2024, 3, 25, 15, 58, 54)),
 (46,
  'Jacqueline',
  'Weber',
  'jenkinskurt@example.org',
  'Mechanical Engineering',
  2026,
  Decimal('3.82'),
  'AZ',
  0,
  'Human Resources',
  'Data Analysis',
  datetime.datetime(2024, 5, 21, 3, 7, 2)),
 (47,
  'Jesus',
  'Bishop',
  'christianreyes@example.com',
  'Marketing',
  2024,
  Decimal('3.75'),
  'NH',
  0,
  'Marketing',
  'Finance',
  datetime.datetime(2024, 3, 28, 0, 0, 19)),
 (48,
  'Vanessa',
  'Lee',
  'njordan@example.org',
  'Psychology',
  2025,
  Decimal('3.81'),
  'MA',
  1,
  'Data Analysis',
  'Product Management',
  datetime.datetime(2025, 11, 3, 2, 52, 34)),
 (49,
  'Susan',
  'Taylor',
  'vmccoy@example.org',
  'Biology',
  2028,
  Decimal('3.58'),
  'IA',
  1,
  'Research',
  'Data Analysis',
  datetime.datetime(2025, 1, 9, 5, 4, 57)),
 (50,
  'Ryan',
  'Fry',
  'jonesteresa@example.net',
  'Accounting',
  2024,
  Decimal('2.79'),
  'MA',
  0,
  'Customer Service',
  'Sales',
  datetime.datetime(2025, 5, 21, 3, 3, 10)),
 (51,
  'Nicole',
  'Bell',
  'cynthiamiranda@example.com',
  'Mechanical Engineering',
  2024,
  Decimal('3.67'),
  'OH',
  1,
  'Human Resources',
  'Human Resources',
  datetime.datetime(2024, 1, 13, 19, 30, 6)),
 (52,
  'John',
  'Abbott',
  'stacy71@example.net',
  'Finance',
  2026,
  Decimal('3.02'),
  'OR',
  1,
  'Software Development',
  'Sales',
  datetime.datetime(2024, 5, 26, 20, 21, 30)),
 (53,
  'Jennifer',
  'Sanchez',
  'marcuscobb@example.net',
  'Economics',
  2026,
  Decimal('3.71'),
  'OR',
  0,
  'Sales',
  'Supply Chain',
  datetime.datetime(2025, 4, 14, 2, 42, 4)),
 (54,
  'Kimberly',
  'Kelley',
  'hmorgan@example.org',
  'Computer Science',
  2027,
  Decimal('3.28'),
  'ID',
  0,
  'Software Development',
  'Operations',
  datetime.datetime(2024, 1, 26, 18, 36, 6)),
 (55,
  'Christina',
  'Velazquez',
  'castrojeffrey@example.net',
  'Electrical Engineering',
  2026,
  Decimal('3.88'),
  'WI',
  0,
  'Research',
  'Data Analysis',
  datetime.datetime(2025, 5, 29, 6, 28, 33)),
 (56,
  'Jason',
  'Williams',
  'lisagolden@example.com',
  'Economics',
  2025,
  Decimal('2.82'),
  'MD',
  0,
  'Finance',
  'Finance',
  datetime.datetime(2025, 1, 16, 15, 1, 9)),
 (57,
  'Margaret',
  'Baxter',
  'nmorales@example.net',
  'Electrical Engineering',
  2027,
  Decimal('3.47'),
  'FM',
  1,
  'Sales',
  'Human Resources',
  datetime.datetime(2024, 6, 10, 8, 44, 2)),
 (58,
  'Dillon',
  'Jackson',
  'cynthia14@example.org',
  'Business Administration',
  2028,
  Decimal('3.64'),
  'VI',
  0,
  'Engineering',
  'Research',
  datetime.datetime(2024, 2, 19, 8, 6, 9)),
 (59,
  'Megan',
  'Lucero',
  'jasmine35@example.com',
  'Information Systems',
  2027,
  Decimal('3.93'),
  'NH',
  0,
  'Engineering',
  'Software Development',
  datetime.datetime(2024, 12, 3, 21, 1, 27)),
 (60,
  'Kara',
  'Williams',
  'alexisjones@example.com',
  'Computer Science',
  2025,
  Decimal('3.65'),
  'MD',
  0,
  'Operations',
  'Sales',
  datetime.datetime(2025, 6, 9, 3, 33, 12)),
 (61,
  'Daniel',
  'Santiago',
  'hollyrobbins@example.net',
  'Computer Science',
  2026,
  Decimal('3.11'),
  'ND',
  0,
  'Sales',
  'Supply Chain',
  datetime.datetime(2024, 5, 23, 12, 1, 45)),
 (62,
  'Gregory',
  'Rivera',
  'bensontommy@example.net',
  'Data Science',
  2028,
  Decimal('3.99'),
  'AK',
  0,
  'Research',
  'Data Analysis',
  datetime.datetime(2024, 11, 26, 13, 27, 15)),
 (63,
  'Virginia',
  'Wilson',
  'youngandrew@example.org',
  'Computer Science',
  2027,
  Decimal('2.76'),
  'DC',
  1,
  'Finance',
  'Human Resources',
  datetime.datetime(2025, 9, 23, 20, 34, 32)),
 (64,
  'Scott',
  'Mays',
  'carsonjordan@example.net',
  'Finance',
  2028,
  Decimal('2.80'),
  'MN',
  0,
  'Sales',
  'Marketing',
  datetime.datetime(2023, 12, 27, 20, 27, 53)),
 (65,
  'Courtney',
  'Horton',
  'cooperpaul@example.com',
  'Data Science',
  2024,
  Decimal('2.92'),
  'MH',
  1,
  'Finance',
  'Marketing',
  datetime.datetime(2025, 5, 23, 19, 23, 36)),
 (66,
  'Deborah',
  'Morales',
  'erinharris@example.org',
  'Psychology',
  2027,
  Decimal('3.07'),
  'IL',
  1,
  'Product Management',
  'Data Analysis',
  datetime.datetime(2024, 11, 3, 14, 34, 7)),
 (67,
  'Jacob',
  'Chang',
  'cynthia87@example.net',
  'Electrical Engineering',
  2024,
  Decimal('2.71'),
  'OH',
  0,
  'Human Resources',
  'Research',
  datetime.datetime(2025, 9, 11, 8, 4, 40)),
 (68,
  'Joshua',
  'Cooke',
  'rebeccanorman@example.com',
  'Psychology',
  2027,
  Decimal('3.66'),
  'IA',
  0,
  'Sales',
  'Supply Chain',
  datetime.datetime(2024, 9, 14, 22, 23, 18)),
 (69,
  'Gary',
  'Martin',
  'jnguyen@example.com',
  'Data Science',
  2026,
  Decimal('3.00'),
  'PR',
  0,
  'Software Development',
  'Data Analysis',
  datetime.datetime(2025, 7, 1, 20, 55, 5)),
 (70,
  'Kevin',
  'Hernandez',
  'brian89@example.net',
  'Finance',
  2024,
  Decimal('3.52'),
  'NM',
  1,
  'Data Analysis',
  'Finance',
  datetime.datetime(2024, 4, 3, 23, 59, 59)),
 (71,
  'Jerry',
  'Shields',
  'fphillips@example.net',
  'Information Systems',
  2026,
  Decimal('3.99'),
  'SD',
  0,
  'Finance',
  'Product Management',
  datetime.datetime(2025, 3, 30, 6, 51, 23)),
 (72,
  'Jenna',
  'Morales',
  'alyssajohnson@example.org',
  'Business Administration',
  2025,
  Decimal('3.35'),
  'GU',
  1,
  'Finance',
  'Human Resources',
  datetime.datetime(2024, 2, 6, 0, 17, 24)),
 (73,
  'Eric',
  'Spence',
  'kevin96@example.net',
  'Accounting',
  2028,
  Decimal('2.58'),
  'LA',
  1,
  'Finance',
  'Data Analysis',
  datetime.datetime(2024, 10, 12, 3, 25, 45)),
 (74,
  'Caleb',
  'Smith',
  'robertmeyer@example.org',
  'Business Administration',
  2025,
  Decimal('2.91'),
  'AK',
  1,
  'Operations',
  'Supply Chain',
  datetime.datetime(2025, 8, 6, 21, 40, 13)),
 (75,
  'Gerald',
  'Smith',
  'jennifer70@example.net',
  'Finance',
  2027,
  Decimal('2.91'),
  'NY',
  1,
  'Research',
  'Finance',
  datetime.datetime(2025, 8, 6, 12, 38, 32)),
 (76,
  'Richard',
  'Kennedy',
  'hharvey@example.com',
  'Economics',
  2026,
  Decimal('3.86'),
  'IN',
  1,
  'Human Resources',
  'Supply Chain',
  datetime.datetime(2024, 11, 17, 2, 58, 11)),
 (77,
  'Matthew',
  'Allen',
  'greendawn@example.org',
  'Marketing',
  2027,
  Decimal('3.68'),
  'WV',
  0,
  'Product Management',
  'Human Resources',
  datetime.datetime(2024, 9, 1, 0, 47, 40)),
 (78,
  'Kathleen',
  'Perry',
  'noahwilliamson@example.com',
  'Economics',
  2026,
  Decimal('3.64'),
  'PR',
  1,
  'Customer Service',
  'Sales',
  datetime.datetime(2025, 5, 5, 21, 55, 19)),
 (79,
  'Travis',
  'Mills',
  'crawfordmark@example.net',
  'Data Science',
  2028,
  Decimal('3.06'),
  'AS',
  1,
  'Research',
  'Research',
  datetime.datetime(2024, 9, 6, 11, 30, 50)),
 (80,
  'Joshua',
  'Alvarez',
  'klinebenjamin@example.org',
  'Computer Science',
  2024,
  Decimal('2.88'),
  'PR',
  0,
  'Sales',
  'Engineering',
  datetime.datetime(2024, 1, 9, 0, 33, 6)),
 (81,
  'Justin',
  'Hurst',
  'heidi80@example.com',
  'Finance',
  2025,
  Decimal('3.75'),
  'MH',
  0,
  'Supply Chain',
  'Data Analysis',
  datetime.datetime(2025, 8, 20, 17, 21, 26)),
 (82,
  'William',
  'Jones',
  'bmoore@example.net',
  'Accounting',
  2026,
  Decimal('2.79'),
  'AK',
  1,
  'Research',
  'Marketing',
  datetime.datetime(2023, 12, 12, 15, 50, 34)),
 (83,
  'Karen',
  'Shelton',
  'amathews@example.com',
  'Finance',
  2025,
  Decimal('3.46'),
  'AR',
  0,
  'Data Analysis',
  'Research',
  datetime.datetime(2024, 11, 6, 19, 28, 59)),
 (84,
  'Zachary',
  'Jones',
  'gary76@example.org',
  'Information Systems',
  2026,
  Decimal('2.80'),
  'WI',
  0,
  'Finance',
  'Product Management',
  datetime.datetime(2024, 5, 10, 17, 20, 47)),
 (85,
  'Kelly',
  'Berger',
  'heatherbrown@example.com',
  'Information Systems',
  2026,
  Decimal('3.36'),
  'DE',
  1,
  'Research',
  'Sales',
  datetime.datetime(2025, 8, 26, 19, 13, 4)),
 (86,
  'Sheila',
  'Chavez',
  'igeorge@example.com',
  'Electrical Engineering',
  2027,
  Decimal('3.41'),
  'FL',
  0,
  'Sales',
  'Supply Chain',
  datetime.datetime(2025, 9, 12, 6, 31, 49)),
 (87,
  'Christopher',
  'Hall',
  'youngharry@example.com',
  'Data Science',
  2024,
  Decimal('3.78'),
  'NH',
  0,
  'Marketing',
  'Software Development',
  datetime.datetime(2025, 2, 23, 8, 18, 46)),
 (88,
  'Kimberly',
  'Austin',
  'olsonrobert@example.com',
  'Mechanical Engineering',
  2024,
  Decimal('3.96'),
  'NJ',
  0,
  'Data Analysis',
  'Operations',
  datetime.datetime(2025, 4, 21, 10, 10, 43)),
 (89,
  'Mark',
  'Reese',
  'ajones@example.com',
  'Biology',
  2024,
  Decimal('3.98'),
  'AL',
  1,
  'Marketing',
  'Marketing',
  datetime.datetime(2025, 6, 13, 0, 12, 20)),
 (90,
  'Tina',
  'Lowe',
  'mark99@example.com',
  'Psychology',
  2024,
  Decimal('3.17'),
  'NY',
  1,
  'Marketing',
  'Software Development',
  datetime.datetime(2025, 5, 7, 21, 37, 32)),
 (91,
  'Angela',
  'Patterson',
  'joseph37@example.net',
  'Biology',
  2025,
  Decimal('2.70'),
  'RI',
  1,
  'Human Resources',
  'Customer Service',
  datetime.datetime(2025, 3, 26, 12, 49, 17)),
 (92,
  'Cassandra',
  'Stevens',
  'katrina15@example.org',
  'Biology',
  2026,
  Decimal('3.39'),
  'DE',
  1,
  'Product Management',
  'Finance',
  datetime.datetime(2024, 12, 13, 22, 36, 8)),
 (93,
  'Sheri',
  'Martin',
  'wanderson@example.net',
  'Accounting',
  2027,
  Decimal('2.80'),
  'VA',
  1,
  'Supply Chain',
  'Engineering',
  datetime.datetime(2024, 1, 17, 21, 56, 36)),
 (94,
  'Daniel',
  'Jordan',
  'lhuff@example.net',
  'Electrical Engineering',
  2026,
  Decimal('3.92'),
  'WI',
  1,
  'Operations',
  'Data Analysis',
  datetime.datetime(2024, 11, 22, 3, 35, 10)),
 (95,
  'Randall',
  'Sanchez',
  'wilsondiane@example.org',
  'Marketing',
  2025,
  Decimal('2.54'),
  'PR',
  1,
  'Sales',
  'Human Resources',
  datetime.datetime(2024, 8, 14, 19, 21, 42)),
 (96,
  'Victoria',
  'Hernandez',
  'pedwards@example.org',
  'Data Science',
  2025,
  Decimal('3.57'),
  'PW',
  1,
  'Customer Service',
  'Data Analysis',
  datetime.datetime(2024, 7, 12, 0, 26, 10)),
 (97,
  'Sean',
  'Jackson',
  'qrodriguez@example.com',
  'Business Administration',
  2027,
  Decimal('2.84'),
  'RI',
  1,
  'Product Management',
  'Human Resources',
  datetime.datetime(2024, 7, 21, 22, 3, 22)),
 (98,
  'Melissa',
  'Lee',
  'dtorres@example.com',
  'Marketing',
  2027,
  Decimal('3.56'),
  'CO',
  0,
  'Operations',
  'Operations',
  datetime.datetime(2025, 11, 11, 11, 27, 5)),
 (99,
  'James',
  'Baker',
  'alexandriaholloway@example.com',
  'Finance',
  2024,
  Decimal('3.77'),
  'WI',
  0,
  'Software Development',
  'Human Resources',
  datetime.datetime(2024, 1, 4, 14, 45, 25)),
 (100,
  'William',
  'Butler',
  'wyattamanda@example.net',
  'Electrical Engineering',
  2026,
  Decimal('2.87'),
  'PA',
  0,
  'Customer Service',
  'Sales',
  datetime.datetime(2025, 8, 15, 10, 42, 34)),
 (101,
  'Regina',
  'Costa',
  'katherinejohnson@example.org',
  'Finance',
  2027,
  Decimal('3.61'),
  'MS',
  0,
  'Sales',

Use Case 1

In [31]:
sql_file = "../schema/use_case_1.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)
    
print("Use Case executed")

SQL file loaded

,position_id,title,location,required_experience,work_mode,company_name,job_category
0,48,Aid worker,MA,3 years,On-site,Smith PLC,Supply Chain

Use Case executed

Use Case 2

In [32]:
sql_file = "../schema/use_case_2.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)
    
print("Use Case executed")

SQL file loaded

,position_id,title,location,required_experience,company_name,required_major
0,67,"Psychologist, educational",PR,4 years,May Inc,Economics
1,195,"Solicitor, Scotland",TN,0 years,Hale Inc,Economics
2,62,Geographical information systems officer,VA,3 years,"Byrd, Brooks and Parsons",Economics
3,113,Local government officer,RI,0 years,"Lee, Hudson and Hart",Economics
4,139,Chief Operating Officer,MO,2 years,"Parker, Andrade and Fox",Economics
5,173,Race relations officer,KS,5 years,Palmer LLC,Economics
6,58,Financial risk analyst,GU,5 years,Gutierrez-Russo,Economics
7,76,"Therapist, drama",KS,5 years,Roberts-Cox,Economics

Use Case executed

Use Case 3

In [33]:
sql_file = "../schema/use_case_3.sql"

cur.execute("DROP PROCEDURE IF EXISTS Apply_For_Position")

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

try: cur.execute("CALL Apply_For_Position(3, 1)")
except Exception as e: print(e)

cur.execute("CALL Apply_For_Position(10, 1)")
cur.execute("SELECT * FROM Application ORDER BY application_id DESC LIMIT 1")

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)

db.commit()
print("Use Case executed")

SQL file loaded
1644 (HY000): This position required major is Finance

   application_id  user_id  position_id application_date     status notes
0             628       10            1       2025-11-30  Submitted  None

Use Case executed

Use Case 4

In [34]:
sql_file = "../schema/use_case_4.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)
    
print("Use Case executed")

SQL file loaded

   num_applications
0                13

Use Case executed

Use Case 5

In [35]:
sql_file = "../schema/use_case_5.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)
    
print("Use Case executed")

SQL file loaded

     gpa first_name last_name
0   3.95       Brad    Harmon
1   3.94  Stephanie    Thomas
2   3.68    Matthew     Allen
3   3.63    Rebekah      Moss
4   3.21      Kevin        Le
5   3.09      Danny    Taylor
6   2.92   Courtney    Horton
7   2.91       Todd    Holmes
8   2.88     Joshua   Alvarez
9   2.73       Luke   Jimenez
10  2.67      Linda    Gordon
11  2.66       Mark     Craig
12  2.54    Charles    Hebert

Use Case executed

Use Case 6

In [36]:
sql_file = "../schema/use_case_6.sql"

cur.execute("DROP TRIGGER IF EXISTS Notify_Matching_Majors;")

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)
    
print("Use Case executed")

SQL file loaded

Use Case executed

Testing the trigger

In [37]:
sql_file = "../schema/use_case_6_test.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

position_id = cur.lastrowid

cur.execute("""
    SELECT u.first_name, u.last_name, u.major, a.notes
    FROM Application a
    JOIN Users u ON a.user_id = u.user_id
    WHERE a.position_id = %s
""", (position_id,))

df = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
display(df)

SQL file loaded

,first_name,last_name,major,notes
0,Angela,Wolfe,Biology,Angela! A new position is available: Biology R...
1,Elizabeth,Warner,Biology,Elizabeth! A new position is available: Biolog...
2,Daniel,Walters,Biology,Daniel! A new position is available: Biology R...
3,Kim,Jackson,Biology,Kim! A new position is available: Biology Rese...
4,Gerald,Wong,Biology,Gerald! A new position is available: Biology R...
5,Susan,Taylor,Biology,Susan! A new position is available: Biology Re...
6,Mark,Reese,Biology,Mark! A new position is available: Biology Res...
7,Angela,Patterson,Biology,Angela! A new position is available: Biology R...
8,Cassandra,Stevens,Biology,Cassandra! A new position is available: Biolog...
9,Raymond,Pierce,Biology,Raymond! A new position is available: Biology ...
10,Thomas,Adams,Biology,Thomas! A new position is available: Biology R...
11,Brian,Moore,Biology,Brian! A new position is available: Biology Re...
12,Lauren,Black,Biology,Lauren! A new position is available: Biology R...
13,Luke,Jimenez,Biology,Luke! A new position is available: Biology Res...
14,Jeffrey,Carr,Biology,Jeffrey! A new position is available: Biology ...
15,Lawrence,Arnold,Biology,Lawrence! A new position is available: Biology...
16,Christian,Thomas,Biology,Christian! A new position is available: Biolog...

Close cursor and database

In [38]:
cur.close()
db.close()
print("All Use Cases executed successfully.")

All Use Cases executed successfully.