# Example Use Queries

Import libraries.

In [1]:
import mysql.connector
from dotenv import load_dotenv
import os

Load enviornment variables.

In [2]:
load_dotenv()

HOST = os.getenv("MYSQL_HOST", "localhost")
USER = os.getenv("MYSQL_USER", "root")
PASSWORD = os.getenv("MYSQL_PASSWORD")

Connect to mysql server

In [3]:
db = mysql.connector.connect(
    host=HOST,
    user=USER,              
    password=PASSWORD
)
cur = db.cursor()
print("Connected!")
cur.execute("USE HuskiesJob")
cur.execute("SELECT * FROM Users")

Connected!

Show Tables and Data

In [4]:
results = cur.fetchall()
for row in results:
    print(row)

(1, 'Matthew', 'Randall', 'peter07@example.com', 'Accounting', 2028, Decimal('3.13'), 'ND', 1, 'Marketing', 'Human Resources', datetime.datetime(2023, 12, 29, 2, 43, 18))
(2, 'Benjamin', 'Frey', 'brownjames@example.net', 'Electrical Engineering', 2028, Decimal('3.33'), 'LA', 1, 'Operations', 'Sales', datetime.datetime(2025, 3, 23, 17, 51, 1))
(3, 'Catherine', 'Thomas', 'hcastaneda@example.net', 'Accounting', 2026, Decimal('2.67'), 'NC', 0, 'Product Management', 'Data Analysis', datetime.datetime(2025, 4, 17, 0, 2, 49))
(4, 'Gabriel', 'Ramirez', 'scox@example.org', 'Information Systems', 2024, Decimal('3.14'), 'MH', 0, 'Research', 'Research', datetime.datetime(2024, 9, 2, 16, 45, 53))
(5, 'Katherine', 'Johnson', 'marksparks@example.org', 'Accounting', 2026, Decimal('3.67'), 'VT', 1, 'Marketing', 'Engineering', datetime.datetime(2024, 3, 6, 19, 52, 11))
(6, 'David', 'Rich', 'alfred58@example.org', 'Economics', 2028, Decimal('2.84'), 'CT', 1, 'Operations', 'Marketing', datetime.datetime(2025, 11, 15, 16, 29, 56))
(7, 'Kevin', 'Carlson', 'kathleen32@example.org', 'Finance', 2028, Decimal('2.51'), 'AL', 0, 'Research', 'Sales', datetime.datetime(2024, 4, 30, 16, 34, 21))
(8, 'Joseph', 'Kelly', 'crichardson@example.net', 'Mechanical Engineering', 2025, Decimal('2.72'), 'MD', 0, 'Software Development', 'Software Development', datetime.datetime(2024, 11, 11, 13, 49, 42))
(9, 'Nathan', 'Meyer', 'hillamanda@example.org', 'Accounting', 2024, Decimal('3.28'), 'AZ', 1, 'Product Management', 'Supply Chain', datetime.datetime(2025, 6, 15, 14, 52, 48))
(10, 'Laura', 'Frank', 'teresagregory@example.net', 'Information Systems', 2027, Decimal('3.68'), 'MH', 0, 'Data Analysis', 'Marketing', datetime.datetime(2024, 9, 24, 2, 16, 39))
(11, 'Brent', 'Wilson', 'mary50@example.org', 'Business Administration', 2025, Decimal('3.21'), 'VI', 0, 'Human Resources', 'Human Resources', datetime.datetime(2025, 11, 18, 0, 38, 29))
(12, 'John', 'Wagner', 'ashleywood@example.com', 'Business Administration', 2027, Decimal('3.47'), 'OH', 0, 'Product Management', 'Sales', datetime.datetime(2024, 11, 12, 23, 6, 10))
(13, 'Samuel', 'Freeman', 'natalie75@example.com', 'Biology', 2027, Decimal('3.73'), 'PW', 1, 'Research', 'Finance', datetime.datetime(2024, 8, 9, 18, 43))
(14, 'Amy', 'Lane', 'wstanley@example.com', 'Data Science', 2028, Decimal('3.23'), 'CO', 0, 'Marketing', 'Research', datetime.datetime(2024, 1, 7, 19, 41, 21))
(15, 'Kevin', 'Clark', 'kerri12@example.com', 'Marketing', 2024, Decimal('3.60'), 'PW', 0, 'Sales', 'Sales', datetime.datetime(2024, 4, 8, 18, 13, 21))
(16, 'Kim', 'Paul', 'larakristin@example.org', 'Mechanical Engineering', 2026, Decimal('3.96'), 'NE', 0, 'Data Analysis', 'Marketing', datetime.datetime(2025, 3, 11, 3, 59, 8))
(17, 'Luke', 'Shea', 'jessica24@example.org', 'Economics', 2025, Decimal('2.77'), 'NH', 1, 'Supply Chain', 'Finance', datetime.datetime(2025, 2, 13, 20, 51, 10))
(18, 'Tyler', 'Freeman', 'diamond66@example.net', 'Biology', 2028, Decimal('2.55'), 'AZ', 1, 'Finance', 'Customer Service', datetime.datetime(2024, 11, 17, 1, 10, 17))
(19, 'Adrian', 'Shelton', 'haysalex@example.com', 'Electrical Engineering', 2026, Decimal('2.74'), 'GA', 0, 'Research', 'Marketing', datetime.datetime(2025, 9, 12, 16, 57, 10))
(20, 'Dawn', 'Smith', 'ubarron@example.org', 'Electrical Engineering', 2025, Decimal('3.92'), 'KS', 0, 'Research', 'Product Management', datetime.datetime(2024, 9, 1, 10, 48, 28))
(21, 'Anna', 'Kent', 'cmiller@example.org', 'Electrical Engineering', 2026, Decimal('3.16'), 'TN', 1, 'Engineering', 'Operations', datetime.datetime(2025, 4, 1, 3, 43, 10))
(22, 'Emily', 'Mccarthy', 'gsampson@example.com', 'Data Science', 2024, Decimal('2.73'), 'MI', 1, 'Product Management', 'Product Management', datetime.datetime(2024, 8, 29, 19, 56, 31))
(23, 'Megan', 'Holden', 'isaacali@example.com', 'Biology', 2027, Decimal('3.02'), 'NJ', 1, 'Engineering', 'Marketing', datetime.datetime(2025, 7, 29, 2, 6, 26))
(24, 'Bryan', 'Evans', 'ellisgwendolyn@example.org', 'Accounting', 2025, Decimal('3.45'), 'MT', 1, 'Research', 'Customer Service', datetime.datetime(2025, 1, 20, 17, 48, 17))
(25, 'John', 'Jensen', 'audreymorgan@example.net', 'Biology', 2024, Decimal('3.62'), 'TN', 1, 'Customer Service', 'Data Analysis', datetime.datetime(2024, 5, 19, 15, 27, 40))
(26, 'Michelle', 'Hunt', 'nathanmorris@example.org', 'Biology', 2028, Decimal('3.95'), 'MT', 0, 'Customer Service', 'Engineering', datetime.datetime(2025, 9, 21, 10, 37, 22))
(27, 'Alyssa', 'Galvan', 'howardkathy@example.org', 'Business Administration', 2025, Decimal('2.59'), 'OR', 1, 'Marketing', 'Sales', datetime.datetime(2024, 10, 6, 23, 39, 16))
(28, 'Michelle', 'Robertson', 'wandamueller@example.com', 'Electrical Engineering', 2024, Decimal('3.92'), 'CT', 0, 'Supply Chain', 'Operations', datetime.datetime(2024, 9, 14, 4, 10, 28))
(29, 'Donald', 'Campbell', 'christopherpineda@example.net', 'Psychology', 2024, Decimal('2.70'), 'IL', 1, 'Sales', 'Sales', datetime.datetime(2024, 1, 24, 7, 33, 27))
(30, 'Alan', 'Wallace', 'stephanie43@example.net', 'Accounting', 2025, Decimal('2.99'), 'MA', 1, 'Finance', 'Sales', datetime.datetime(2025, 4, 21, 3, 49, 10))
(31, 'Robert', 'Herrera', 'marshallwilliam@example.com', 'Accounting', 2027, Decimal('3.93'), 'WI', 1, 'Software Development', 'Engineering', datetime.datetime(2025, 1, 2, 4, 45, 12))
(32, 'Christopher', 'Parker', 'tsantos@example.net', 'Accounting', 2026, Decimal('3.32'), 'IN', 0, 'Finance', 'Sales', datetime.datetime(2024, 8, 29, 21, 2, 41))
(33, 'Daryl', 'Roy', 'lloydtodd@example.net', 'Accounting', 2024, Decimal('3.28'), 'AS', 0, 'Research', 'Software Development', datetime.datetime(2025, 2, 13, 11, 4, 6))
(34, 'Robert', 'Casey', 'lharrison@example.org', 'Computer Science', 2027, Decimal('2.60'), 'CT', 1, 'Product Management', 'Product Management', datetime.datetime(2024, 9, 21, 5, 44, 6))
(35, 'David', 'Garcia', 'simmonsmichelle@example.net', 'Economics', 2025, Decimal('2.54'), 'FL', 1, 'Data Analysis', 'Finance', datetime.datetime(2025, 6, 27, 15, 24, 17))
(36, 'Michael', 'Smith', 'kcrawford@example.com', 'Finance', 2025, Decimal('3.22'), 'FM', 1, 'Human Resources', 'Engineering', datetime.datetime(2024, 11, 6, 12, 30, 13))
(37, 'Mitchell', 'Clarke', 'wolfejames@example.com', 'Psychology', 2025, Decimal('2.69'), 'CO', 0, 'Human Resources', 'Research', datetime.datetime(2024, 6, 11, 9, 57, 27))
(38, 'Monica', 'Gonzalez', 'stuartjerry@example.org', 'Business Administration', 2025, Decimal('3.62'), 'OR', 1, 'Customer Service', 'Marketing', datetime.datetime(2025, 6, 10, 7, 4, 39))
(39, 'Andrea', 'Mcdonald', 'joanna56@example.com', 'Economics', 2024, Decimal('2.58'), 'NH', 0, 'Research', 'Human Resources', datetime.datetime(2024, 8, 12, 20, 10, 26))
(40, 'Carlos', 'Hawkins', 'dcalderon@example.net', 'Electrical Engineering', 2025, Decimal('3.55'), 'GU', 0, 'Marketing', 'Data Analysis', datetime.datetime(2024, 2, 4, 22, 7, 2))
(41, 'Randy', 'Brandt', 'brownyolanda@example.com', 'Economics', 2026, Decimal('3.28'), 'AR', 1, 'Finance', 'Sales', datetime.datetime(2024, 2, 10, 1, 32, 10))
(42, 'Chad', 'White', 'kimfitzgerald@example.net', 'Mechanical Engineering', 2027, Decimal('3.76'), 'TN', 0, 'Engineering', 'Software Development', datetime.datetime(2025, 11, 11, 18, 9, 10))
(43, 'Zachary', 'Green', 'jenniferwhite@example.org', 'Psychology', 2028, Decimal('2.96'), 'OH', 1, 'Human Resources', 'Sales', datetime.datetime(2024, 5, 29, 15, 28, 27))
(44, 'Mckenzie', 'Cochran', 'smithpaige@example.net', 'Data Science', 2025, Decimal('3.41'), 'MT', 1, 'Product Management', 'Research', datetime.datetime(2025, 6, 20, 9, 58, 40))
(45, 'Melanie', 'Copeland', 'qmorrison@example.com', 'Electrical Engineering', 2028, Decimal('2.59'), 'MI', 1, 'Supply Chain', 'Data Analysis', datetime.datetime(2024, 12, 29, 21, 36, 2))
(46, 'Jennifer', 'Mcmahon', 'nancygallagher@example.net', 'Electrical Engineering', 2028, Decimal('3.64'), 'WV', 0, 'Sales', 'Product Management', datetime.datetime(2024, 1, 25, 10, 48, 18))
(47, 'Martha', 'Horton', 'wandrews@example.com', 'Information Systems', 2027, Decimal('2.63'), 'GU', 0, 'Marketing', 'Supply Chain', datetime.datetime(2024, 3, 17, 15, 9, 32))
(48, 'Eric', 'Norman', 'powerskristina@example.net', 'Business Administration', 2027, Decimal('3.89'), 'MT', 1, 'Customer Service', 'Engineering', datetime.datetime(2024, 12, 14, 15, 24, 24))
(49, 'Diana', 'Watts', 'claudiazimmerman@example.net', 'Electrical Engineering', 2027, Decimal('3.99'), 'PR', 0, 'Supply Chain', 'Product Management', datetime.datetime(2025, 7, 10, 3, 26, 36))
(50, 'Sherry', 'Harper', 'andrea40@example.org', 'Accounting', 2025, Decimal('3.61'), 'AS', 1, 'Product Management', 'Operations', datetime.datetime(2025, 5, 30, 15, 18, 19))
(51, 'Candace', 'Smith', 'hgolden@example.org', 'Information Systems', 2024, Decimal('3.94'), 'MP', 0, 'Sales', 'Research', datetime.datetime(2025, 3, 22, 18, 32, 5))
(52, 'Antonio', 'Ford', 'andersonrodney@example.com', 'Information Systems', 2028, Decimal('3.12'), 'NC', 0, 'Supply Chain', 'Customer Service', datetime.datetime(2025, 4, 8, 9, 13, 25))
(53, 'Michael', 'Obrien', 'april72@example.org', 'Marketing', 2027, Decimal('3.66'), 'FM', 0, 'Operations', 'Human Resources', datetime.datetime(2024, 3, 6, 17, 1, 54))
(54, 'Bonnie', 'Garcia', 'wileyjustin@example.org', 'Finance', 2026, Decimal('3.38'), 'IL', 0, 'Research', 'Customer Service', datetime.datetime(2025, 10, 19, 11, 24, 53))
(55, 'Nicole', 'Manning', 'sherricowan@example.net', 'Accounting', 2025, Decimal('2.52'), 'NC', 1, 'Human Resources', 'Human Resources', datetime.datetime(2024, 3, 24, 20, 36, 56))
(56, 'Adam', 'Lee', 'sarah59@example.net', 'Electrical Engineering', 2024, Decimal('3.58'), 'MN', 1, 'Customer Service', 'Finance', datetime.datetime(2024, 1, 7, 15, 45, 17))
(57, 'Amanda', 'Wheeler', 'david62@example.com', 'Computer Science', 2025, Decimal('3.04'), 'MA', 0, 'Finance', 'Operations', datetime.datetime(2025, 3, 28, 21, 31, 54))
(58, 'Bryan', 'Green', 'zlam@example.net', 'Mechanical Engineering', 2024, Decimal('2.73'), 'MO', 1, 'Customer Service', 'Supply Chain', datetime.datetime(2023, 12, 1, 7, 35, 14))
(59, 'David', 'Johns', 'cantususan@example.net', 'Psychology', 2028, Decimal('3.61'), 'AZ', 0, 'Software Development', 'Sales', datetime.datetime(2024, 12, 2, 20, 30, 40))
(60, 'Steven', 'Scott', 'jeffreybrooks@example.net', 'Accounting', 2025, Decimal('3.80'), 'MT', 1, 'Human Resources', 'Data Analysis', datetime.datetime(2025, 10, 27, 21, 31, 31))
(61, 'Andrew', 'Wright', 'wstevens@example.org', 'Mechanical Engineering', 2026, Decimal('3.75'), 'UT', 1, 'Software Development', 'Customer Service', datetime.datetime(2025, 4, 22, 16, 56, 56))
(62, 'John', 'Welch', 'lmurray@example.com', 'Accounting', 2027, Decimal('3.38'), 'AS', 0, 'Software Development', 'Customer Service', datetime.datetime(2025, 7, 26, 0, 28, 59))
(63, 'Melissa', 'Rivas', 'rochawilliam@example.net', 'Data Science', 2026, Decimal('3.17'), 'IL', 0, 'Finance', 'Software Development', datetime.datetime(2024, 3, 27, 9, 43, 35))
(64, 'Jessica', 'Cameron', 'hamptonnancy@example.org', 'Accounting', 2024, Decimal('3.98'), 'DE', 1, 'Marketing', 'Finance', datetime.datetime(2025, 4, 3, 4, 38, 38))
(65, 'Alejandro', 'Bennett', 'jonesregina@example.com', 'Economics', 2026, Decimal('2.95'), 'OK', 0, 'Human Resources', 'Marketing', datetime.datetime(2025, 11, 5, 4, 57, 12))
(66, 'Randy', 'Humphrey', 'danielle50@example.com', 'Computer Science', 2026, Decimal('3.43'), 'TX', 0, 'Supply Chain', 'Operations', datetime.datetime(2025, 5, 8, 9, 40, 36))
(67, 'Howard', 'Shah', 'whill@example.com', 'Biology', 2024, Decimal('2.67'), 'AS', 0, 'Customer Service', 'Product Management', datetime.datetime(2024, 8, 22, 4, 40, 51))
(68, 'Edward', 'Hardy', 'tiffany50@example.org', 'Information Systems', 2026, Decimal('3.28'), 'AL', 0, 'Finance', 'Data Analysis', datetime.datetime(2025, 7, 21, 6, 9, 2))
(69, 'Robert', 'Howard', 'pamelaallen@example.org', 'Economics', 2027, Decimal('3.86'), 'SC', 1, 'Product Management', 'Product Management', datetime.datetime(2024, 2, 4, 9, 0, 47))
(70, 'Michael', 'Bailey', 'tyler87@example.org', 'Computer Science', 2028, Decimal('2.77'), 'MN', 1, 'Marketing', 'Human Resources', datetime.datetime(2024, 11, 6, 21, 22, 36))
(71, 'Sharon', 'Cox', 'waltersstephanie@example.org', 'Economics', 2027, Decimal('3.13'), 'DE', 0, 'Human Resources', 'Sales', datetime.datetime(2024, 2, 13, 16, 14, 9))
(72, 'Jessica', 'Pratt', 'simmonsbarbara@example.com', 'Psychology', 2026, Decimal('2.66'), 'KY', 1, 'Operations', 'Customer Service', datetime.datetime(2024, 11, 14, 15, 2, 32))
(73, 'Matthew', 'Jensen', 'pittmanpatricia@example.net', 'Accounting', 2028, Decimal('2.92'), 'MD', 1, 'Product Management', 'Product Management', datetime.datetime(2024, 3, 24, 7, 3, 41))
(74, 'James', 'Abbott', 'ryanshelton@example.org', 'Accounting', 2028, Decimal('2.63'), 'KS', 0, 'Engineering', 'Finance', datetime.datetime(2024, 9, 2, 7, 58, 9))
(75, 'Kathleen', 'Gross', 'ljones@example.net', 'Accounting', 2026, Decimal('3.65'), 'CT', 0, 'Supply Chain', 'Research', datetime.datetime(2025, 4, 20, 17, 24, 5))
(76, 'Larry', 'Mcdonald', 'cstout@example.org', 'Accounting', 2025, Decimal('2.78'), 'CO', 0, 'Human Resources', 'Operations', datetime.datetime(2024, 1, 28, 12, 40, 13))
(77, 'Zachary', 'Lewis', 'jsmith@example.com', 'Business Administration', 2025, Decimal('2.98'), 'CO', 0, 'Research', 'Human Resources', datetime.datetime(2025, 8, 23, 17, 49, 32))
(78, 'Jaime', 'Navarro', 'ellisjennifer@example.org', 'Computer Science', 2025, Decimal('3.65'), 'MN', 1, 'Operations', 'Research', datetime.datetime(2025, 7, 11, 1, 6, 50))
(79, 'Ethan', 'Bautista', 'tracyjohns@example.org', 'Marketing', 2026, Decimal('2.86'), 'KS', 1, 'Supply Chain', 'Product Management', datetime.datetime(2024, 3, 31, 23, 41, 59))
(80, 'Colin', 'Marshall', 'jacksonshelly@example.org', 'Psychology', 2025, Decimal('2.53'), 'NH', 1, 'Data Analysis', 'Customer Service', datetime.datetime(2024, 7, 7, 0, 8, 33))
(81, 'Rachel', 'Mcconnell', 'nluna@example.net', 'Information Systems', 2024, Decimal('3.91'), 'MO', 0, 'Research', 'Product Management', datetime.datetime(2024, 12, 14, 3, 41, 36))
(82, 'Donna', 'Perez', 'jennifer05@example.net', 'Finance', 2025, Decimal('3.56'), 'OK', 1, 'Customer Service', 'Research', datetime.datetime(2024, 3, 25, 8, 6, 16))
(83, 'Karen', 'Cooper', 'kstewart@example.org', 'Psychology', 2026, Decimal('3.24'), 'SC', 0, 'Research', 'Customer Service', datetime.datetime(2025, 5, 28, 18, 59, 37))
(84, 'Sean', 'Gordon', 'richard09@example.net', 'Mechanical Engineering', 2025, Decimal('2.56'), 'VT', 1, 'Customer Service', 'Marketing', datetime.datetime(2025, 4, 27, 5, 23))
(85, 'Sherry', 'Campbell', 'ashleyvaughan@example.com', 'Marketing', 2024, Decimal('2.88'), 'WV', 1, 'Customer Service', 'Marketing', datetime.datetime(2025, 9, 14, 10, 36, 9))
(86, 'Joshua', 'Mclaughlin', 'owensdanielle@example.com', 'Electrical Engineering', 2028, Decimal('3.39'), 'MH', 1, 'Data Analysis', 'Research', datetime.datetime(2025, 3, 4, 23, 1, 36))
(87, 'Scott', 'Krause', 'evansgloria@example.com', 'Accounting', 2028, Decimal('3.13'), 'MI', 0, 'Research', 'Data Analysis', datetime.datetime(2025, 11, 11, 9, 29, 33))
(88, 'Molly', 'Ward', 'pbarron@example.org', 'Accounting', 2024, Decimal('2.92'), 'AZ', 1, 'Marketing', 'Finance', datetime.datetime(2024, 7, 14, 6, 8, 35))
(89, 'Ashley', 'Schmitt', 'herreraross@example.net', 'Economics', 2028, Decimal('2.83'), 'MD', 1, 'Human Resources', 'Sales', datetime.datetime(2024, 6, 27, 1, 33, 58))
(90, 'Levi', 'Anderson', 'christina44@example.net', 'Marketing', 2028, Decimal('2.73'), 'ID', 0, 'Marketing', 'Human Resources', datetime.datetime(2025, 3, 5, 5, 43, 41))
(91, 'Anthony', 'Thompson', 'amanda63@example.com', 'Finance', 2028, Decimal('2.82'), 'LA', 0, 'Finance', 'Product Management', datetime.datetime(2025, 10, 23, 2, 40, 46))
(92, 'Bradley', 'Farley', 'erobinson@example.com', 'Information Systems', 2028, Decimal('3.12'), 'AL', 0, 'Product Management', 'Human Resources', datetime.datetime(2025, 4, 29, 3, 12, 37))
(93, 'Lynn', 'Bauer', 'nmartinez@example.org', 'Psychology', 2026, Decimal('3.10'), 'MT', 0, 'Finance', 'Supply Chain', datetime.datetime(2024, 8, 20, 10, 14, 19))
(94, 'Elizabeth', 'Cowan', 'andersonkirk@example.net', 'Economics', 2024, Decimal('2.65'), 'WI', 0, 'Marketing', 'Human Resources', datetime.datetime(2025, 11, 26, 13, 45, 6))
(95, 'Julia', 'Martin', 'ufowler@example.net', 'Information Systems', 2024, Decimal('3.89'), 'DC', 0, 'Marketing', 'Human Resources', datetime.datetime(2025, 5, 16, 12, 54, 47))
(96, 'Stephanie', 'Allen', 'amyharris@example.org', 'Economics', 2028, Decimal('3.22'), 'LA', 0, 'Operations', 'Sales', datetime.datetime(2024, 10, 1, 21, 54, 2))
(97, 'Karen', 'Murphy', 'bradleymartinez@example.net', 'Economics', 2026, Decimal('3.65'), 'CO', 1, 'Research', 'Product Management', datetime.datetime(2025, 2, 28, 8, 30, 24))
(98, 'Scott', 'Walker', 'veverett@example.com', 'Computer Science', 2026, Decimal('3.86'), 'CO', 0, 'Data Analysis', 'Software Development', datetime.datetime(2024, 12, 18, 20, 53, 14))
(99, 'Robert', 'Kramer', 'luisgarrison@example.net', 'Finance', 2026, Decimal('3.29'), 'UT', 1, 'Data Analysis', 'Research', datetime.datetime(2025, 1, 17, 5, 36, 56))
(100, 'Chris', 'Davidson', 'travishicks@example.com', 'Data Science', 2025, Decimal('2.77'), 'AL', 1, 'Data Analysis', 'Engineering', datetime.datetime(2024, 5, 8, 9, 46, 13))

Use Case 1

In [5]:
sql_file = "../schema/use_case_1.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

results = cur.fetchall()
for row in results:
    print(row)
    
print("Use Case executed")

SQL file loaded
Use Case executed

Use Case 2

In [6]:
sql_file = "../schema/use_case_2.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

results = cur.fetchall()
for row in results:
    print(row)
    
print("Use Case executed")

SQL file loaded
(23, 'Insurance underwriter', 'NM', '2 years', 'Johnson Group')
(30, 'Diagnostic radiographer', 'AR', '4 years', 'Nunez, Callahan and Foster')
(31, 'Sales promotion account executive', 'OR', '3 years', 'Miller, Sanchez and Brennan')
Use Case executed

Use Case 3

In [7]:
sql_file = "../schema/use_case_3.sql"

cur.execute("DROP PROCEDURE IF EXISTS Apply_For_Position")

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

results = cur.fetchall()
for row in results:
    print(row)

db.commit()
print("Use Case executed")

SQL file loaded
Use Case executed

Use Case 4

In [8]:
sql_file = "../schema/use_case_4.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

results = cur.fetchall()
for row in results:
    print(row)
    
print("Use Case executed")

SQL file loaded
(4,)
Use Case executed

Use Case 5

In [9]:
sql_file = "../schema/use_case_5.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

results = cur.fetchall()
for row in results:
    print(row)
    
print("Use Case executed")

SQL file loaded
(Decimal('3.58'), 'Adam', 'Lee')
(Decimal('2.86'), 'Ethan', 'Bautista')
(Decimal('2.84'), 'David', 'Rich')
(Decimal('2.59'), 'Melanie', 'Copeland')
Use Case executed

Use Case 6

In [10]:
sql_file = "../schema/use_case_6.sql"

cur.execute("DROP TRIGGER IF EXISTS Notify_Matching_Majors;")

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

results = cur.fetchall()
for row in results:
    print(row)
    
print("Use Case executed")

SQL file loaded
Use Case executed

Testing the trigger

In [11]:
sql_file = "../schema/use_case_6_test.sql"

with open(sql_file, "r") as f:
    sql_script = f.read()
print("SQL file loaded")

cur.execute(sql_script)

position_id = cur.lastrowid

cur.execute("""
    SELECT u.first_name, u.last_name, u.major, a.notes
    FROM Application a
    JOIN Users u ON a.user_id = u.user_id
    WHERE a.position_id = %s
""", (position_id,))

results = cur.fetchall()
for row in results:
    print(row)

SQL file loaded
('Samuel', 'Freeman', 'Biology', 'Samuel! A new position is available: Biology Research Assistant at Robertson, White and Ross')
('Tyler', 'Freeman', 'Biology', 'Tyler! A new position is available: Biology Research Assistant at Robertson, White and Ross')
('Megan', 'Holden', 'Biology', 'Megan! A new position is available: Biology Research Assistant at Robertson, White and Ross')
('John', 'Jensen', 'Biology', 'John! A new position is available: Biology Research Assistant at Robertson, White and Ross')
('Michelle', 'Hunt', 'Biology', 'Michelle! A new position is available: Biology Research Assistant at Robertson, White and Ross')
('Howard', 'Shah', 'Biology', 'Howard! A new position is available: Biology Research Assistant at Robertson, White and Ross')

Close cursor and database

In [12]:
cur.close()
db.close()
print("All Use Cases executed successfully.")

All Use Cases executed successfully.